/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2015, 10:31:31
    Author     : aysulu
*/

form {

    &.search {

        height: 47px;
        border: 1px solid #072E4C; /* Параметры рамки */
        background-color: #072E4C;
        margin-top: -12px;

        //добавлено А

        width: 233px;
        margin-left: -15px;


        input[type="text"] {
            border: none; /* Убираем рамку */
            outline: none; /* Убираем свечение в Chrome и Safari */
            -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */

            color: #ffffff;


            padding-left: 9px;
            padding-right: 4px;
            background-color: #072E4C;
            margin-top: 17px;
            float: left;
            width: 173px;



        }

        input::-webkit-input-placeholder {color:#3F89BB;}
        input::-moz-placeholder          {color:#3F89BB;}/* Firefox 19+ */
        input:-moz-placeholder           {color:#3F89BB;}/* Firefox 18- */
        input:-ms-input-placeholder      {color:#3F89BB;}


        button{
            background-color:#072E4C;
            color: #FFFFFF;
            display: inline-block;
            border: none;
            cursor: pointer;
            float: left;
            margin-top: 14px;
        }


        .separator-search{
            display: inline-block;
            height: 28px;        
            width: 1px;
            background-color: #0B4A81;
            margin-top: 10px;
            margin-right: 7px;
            margin-left: 5px;
            float: left;
        }
    }

    &.search-color {

        height: 54px;
        border: 1px solid #E2E2E2; /* Параметры рамки */
        background-color: #ffffff;

        //margin-top: -12px;

        //добавлено А

        width: 626px;
        margin-left: 40px;
        margin-bottom: 30px;
        margin-top: 40px;


        input[type="text"] {
            border: none; /* Убираем рамку */
            outline: none; /* Убираем свечение в Chrome и Safari */
            -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
            font-family: OpenSansRegular;
            font-size: 15px;
            color: #000000;


            padding-left: 20px;
            padding-right: 20px;
            background-color: #ffffff;
            margin-top: 17px;
            float: left;




        }

        input::-webkit-input-placeholder {color:#A8A7A7;}
        input::-moz-placeholder          {color:#A8A7A7;}/* Firefox 19+ */
        input:-moz-placeholder           {color:#A8A7A7;}/* Firefox 18- */
        input:-ms-input-placeholder      {color:#A8A7A7;}


        button{
            width: 56px;
            height: 56px;
            margin-top: -1px;
            background-color:#007AC2;
            color: #FFFFFF;
            display: inline-block;
            border: none;
            cursor: pointer;
            float: right;
            //margin-top: 14px;
        }

        .i-search{
            display: inline-block;
            width: 20px;
            height: 16px;
            position: relative;
            top: 2px;
            margin-left: 3px;
            background: url("/assets/img/design/i-search.png") no-repeat;

        }



    }


}


&.feedback {

    width: 600px;
    font-family: OpenSansRegular;
    font-size: 14px;
    border: none;


    //margin-bottom: 70px;

    .form-area {
        background-color: #EAEAEA;
        padding: 40px 30px 30px 30px;
        
        h3 {
            font-size: 30px;
            margin-bottom: 40px;
            font-family: OpenSansRegular;
            font-weight: normal;
            margin-top: -10px;
        }
    }







    p {

        font-family: OpenSansRegular;
        font-size: 14px;
        margin-top: 6px;

        &.perr {
            color: #E70D17;
        }
    }

    img {
        height: 60px;
        position: relative;
        top: -10px;
    }

    .block {

        margin-bottom: 14px;

        .param-value {
            width: 340px;
            height: 42px;
            background-color: #ffffff;
            padding: 6px 0 0 18px;
            margin-bottom: 10px;

            &.tarea {
                height: 140px;
            }


            &.ierr {
                border: 1px solid #E70D17;
            }

        }





        .message {
            width: 150px;
            padding-left: 20px;

        }

    }

    label {
        //width: 70px;
        color: #B6B6B6;
        display: block;
        float: left;
        margin-top: 7px;

    }

    input {
        width: 220px;
        height: 36px;
        padding: 0 15px;
        border: none;
        outline: none;
        font-size: 14px;
        color: #000000;
        line-height: 24px;
        float: right;






        &[type="file"] {
            position: relative;
            padding-top: 7px;
            height: 29px;

            &:before {

                content: 'ЗАГРУЗИТЬ'; 
                position: absolute; 
                width: 152px; 
                height: 30px; 
                padding-top: 2px;
                right: 0;
                top: 0; 
                background: #858585; 
                border: 2px solid #858585; 
                color: #fff; 
                cursor: pointer; 
                font-size: 13px; 
                font-family: RobotoBold;
                text-align: center; 
                line-height: 30px;


            }
        }

    }

    input::-webkit-file-upload-button {visibility: hidden; width: 0;}

    select {
        background-color: #ffffff;
        border: 1px solid #999999;
        border-radius: 8px;
        padding: 6px 10px;
        color: #666666;
        line-height: 30px;
        margin-bottom: 10px;
        float: left;
    }


    textarea {
        width: 332px;
        height: 134px;

        border: none;
        outline: none;
        font-size: 14px;
        color: #000000;
        line-height: 24px;

        ::-webkit-input-placeholder {color:#B6B6B6;}
        ::-moz-placeholder          {color:#B6B6B6;}/* Firefox 19+ */
        :-moz-placeholder           {color:#B6B6B6;}/* Firefox 18- */
        :-ms-input-placeholder      {color:#B6B6B6;}


    }

    button {
        width: 358px;
        height: 56px;

        background-color: #0B4A80;
        border: 3px solid #0B4A80;
        color: #ffffff;
        font-family: OpenSansBold;
        font-size: 16px;
        line-height: 18px;
        padding: 0;
        cursor: pointer;

        &:hover {
            transition:  0.7s ease;
            -webkit-transition: background-color 0.7 ease;
            -moz-transition: background-color 0.7s ease;
            -o-transition: background-color 0.7s ease;
            background-color: transparent;
            color: #0B4A80;
        }

        &:not(:hover){
            transition: 0.7s ease;
            -webkit-transition:  0.7 ease;
            -moz-transition: 0.7s ease;
            -o-transition: 0.7s ease;
            background-color: #0B4A80;
            color: #ffffff;
        }

    }

    sup {
        color: #93C6E4;
        font-size: 14px;
        position: relative;
        top: 1px;
        left: 1px;
    }

    &.order-send {

        .form-area {
            background-color: #F5F5F5;
            padding: 40px 30px 0 30px;
            margin-bottom: 20px;
        }

        button {
            width: 100%;
            height: 56px;
            margin-bottom: 50px;

            background-color: #E6000E;
            border: 3px solid #E6000E;
            color: #ffffff;
            font-family: RobotoBold;
            font-size: 16px;
            line-height: 18px;
            padding: 0;
            cursor: pointer;

            &:hover {
                transition:  0.7s ease;
                -webkit-transition: background-color 0.7 ease;
                -moz-transition: background-color 0.7s ease;
                -o-transition: background-color 0.7s ease;
                background-color: transparent;
                color: #E6000E;
            }

            &:not(:hover){
                transition: 0.7s ease;
                -webkit-transition:  0.7 ease;
                -moz-transition: 0.7s ease;
                -o-transition: 0.7s ease;
                background-color: #E6000E;
                color: #ffffff;
            }

        }

    }

}



