/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2015, 10:31:31
    Author     : aysulu
*/

form {

    &.search {

        height: 47px;
        border: 1px solid #072E4C; /* Параметры рамки */
        background-color: #072E4C;
        margin-top: -12px;

        //добавлено А

        width: 233px;
        margin-left: -15px;


        input[type="text"] {
            border: none; /* Убираем рамку */
            outline: none; /* Убираем свечение в Chrome и Safari */
            -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */

            color: #ffffff;


            padding-left: 9px;
            padding-right: 4px;
            background-color: #072E4C;
            margin-top: 17px;
            float: left;
            width: 173px;



        }

        input::-webkit-input-placeholder {color:#3F89BB;}
        input::-moz-placeholder          {color:#3F89BB;}/* Firefox 19+ */
        input:-moz-placeholder           {color:#3F89BB;}/* Firefox 18- */
        input:-ms-input-placeholder      {color:#3F89BB;}


        button{
            background-color:#072E4C;
            color: #FFFFFF;
            display: inline-block;
            border: none;
            cursor: pointer;
            float: left;
             margin-top: 14px;
        }


        .separator-search{
            display: inline-block;
            height: 28px;        
            width: 1px;
            background-color: #0B4A81;
            margin-top: 10px;
            margin-right: 7px;
            margin-left: 5px;
            float: left;
        }
    }

}



