/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24.11.2015, 10:31:02
    Author     : aysulu
*/
#menu-decortop ul li {
  display: block;
  float: left;
  width: 150px;
}
#top-menu {
  width: 100%;
}
#top-menu ul {
  margin-top: 37px;
  font-size: 14px;
  font-family: OpenSansBold;
}
#top-menu ul li {
  display: inline-block;
  margin-left: 0;
  width: 146px;
  margin-bottom: 10px;
}
#top-menu ul li a {
  color: #000000;
}
#top-menu ul li a:hover {
  color: #0B4A81;
}
#footer-menu {
  width: 100%;
  float: left;
}
#footer-menu ul {
  margin-top: 37px;
  font-size: 13px;
  font-family: OpenSansRegular;
}
#footer-menu ul li {
  display: inline-block;
  margin-left: 0;
  width: 120px;
  margin-bottom: 10px;
}
#footer-menu ul li a {
  color: #000000;
}
#footer-menu ul li a:hover {
  color: #007AC2;
}
#directories ul li {
  /*&.level_2 {

                a {
                    text-transform: none;
                }

            }

            &.level_3 {

                a {
                    text-transform: none;
                }

            }*/
  font-family: OpenSansRegular;
  font-size: 14px;
  border-bottom: 1px solid #E2E2E2;
}
#directories ul li.level_1 a {
  text-transform: uppercase;
}
#directories ul li:last-child {
  border-bottom: none;
}
#directories ul li a {
  color: #000000;
  line-height: 60px;
  display: block;
  padding: 0 30px;
  /*&:hover {
                    color: #979797;
                }

                &.active {
                    color: #E73F44;
                }*/
}
#directories ul li a i {
  float: right;
  font-size: 24px;
  position: relative;
  top: 18px;
}
#directories ul li ul {
  display: none;
  border-top: 1px solid #E2E2E2;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}
#directories ul li ul li {
  display: block;
  width: 324px;
  float: left;
  margin-bottom: 30px;
  border-bottom: none;
}
#directories ul li ul li .pic-directory {
  width: 39px;
  height: 52px;
  background: url("/assets/img/design/i-file.png") no-repeat;
  float: left;
}
#directories ul li ul li .pic-directory p {
  margin: 24px 0 0 0 !important;
}
#directories ul li ul li .pic-directory p.doc {
  color: #3F89BB !important;
  text-align: center;
  margin-top: 27px !important;
  font-size: 12px !important;
  font-family: OpenSansRegular !important;
}
#directories ul li ul li .pic-directory p.xls {
  color: #3FBB45 !important;
  text-align: center;
  margin-top: 27px !important;
  font-size: 12px !important;
  font-family: OpenSansRegular !important;
}
#directories ul li ul li .pic-directory p.pdf {
  color: #DA5353 !important;
  text-align: center;
  margin-top: 27px !important;
  font-size: 12px !important;
  font-family: OpenSansRegular !important;
}
#directories ul li ul li .block-directory {
  font-family: OpenSansRegular;
  font-size: 12px;
  border-bottom: none;
  width: 230px;
  display: block;
  margin-left: 20px !important;
  float: left;
}
#directories ul li ul li .block-directory p.txt-directory {
  font-family: OpenSansRegular !important;
  font-size: 12px !important;
  margin-bottom: 5px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#directories ul li ul li .block-directory p.size-directory {
  font-family: OpenSansRegular !important;
  font-size: 12px !important;
  color: #989797 !important;
  width: 185px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  float: left !important;
}
#directories ul li ul li .block-directory p.icons-directory {
  float: right !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#directories ul li ul li .block-directory p.icons-directory a {
  display: inline;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 18px !important;
}
#directories ul li ul li .block-directory p.icons-directory a i {
  color: #E2E2E2;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px !important;
}
#directories ul li ul li .block-directory p.icons-directory a i:hover {
  color: #007AC2;
}
/*# sourceMappingURL=menu.css.map */