/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2015, 10:31:02
    Author     : aysulu
*/


#top-menu{
    width:100%;

    ul{
        margin-top:37px;
        font-size:14px;
        font-family:OpenSansBold;


        li{ 
            display:inline-block;
            margin-left: 0;
            width: 150px;
            margin-bottom: 10px;
            a{
                color:#000000;
            }

            a:hover{
                color: #0B4A81;

            }


        }

    }


}


#footer-menu {
    width:100%;


    ul{
        margin-top:37px;
        font-size:13px;
        font-family:OpenSansRegular;


        li{ 
            display:inline-block;
            margin-left: 0;
            width: 120px;
            margin-bottom: 10px;
            a{
                color:#000000;
            }

            a {
                &:hover{
                    color: #007AC2;

                }
            }


        }

    }

}


#directories {


    ul {



        li {

            &.level_1 {

                a {
                    text-transform: uppercase;
                }

            }

            &.level_2 {

                a {
                    text-transform: none;
                }

            }

            &.level_3 {

                a {
                    text-transform: none;
                }

            }

            font-family: RobotoBold;
            font-size: 16px;

            border-bottom: 1px solid #BFBFBF;

            &:last-child {
                border-bottom: none;
            }

            a {
                color: #000000;
                line-height: 50px;

                &:hover {
                    color: #979797;
                }

                &.active {
                    color: #E73F44;
                }

            }


            ul {

                display: none;

                background-color: #F5F5F5;
                border-top: 1px solid #BFBFBF;
                border-bottom: 1px solid #BFBFBF;
                margin-top: -50px;
                padding-top: 50px;
                margin-left: -20px;
                padding-left: 20px;
                padding-bottom: 20px;

                li  {
                    font-family: RobotoRegular;
                    font-size: 15px;
                    border-bottom: none;

                    a {
                        line-height: 30px;

                        &:hover {
                            color: #979797;
                        }

                        &.active {
                            color: #E73F44;
                        }
                    }


                    ul {

                        border-top: none;
                        border-bottom: none;
                        margin-top: 0;
                        padding-top: 0;
                        margin-left: 20px;
                        padding-bottom: 0;

                        li  {

                            font-size: 13px;



                            a {
                                //color: #979797;

                                &:hover {
                                    color: #979797;
                                }

                                &.active {
                                    color: #E73F44;
                                }
                            }

                        }

                    }

                }

            }


        }

    }

}
