/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2015, 9:03:03 AM
    Author     : developer
*/


body{
    a{text-decoration:none;}
    
    .al-right {
        text-align: right;
    }



    #header{
        width: 100%;
        height: 186px;

        #header-info{

            height: 34px;
            background-color: #0B4A81;
            padding-top:12px;
            width: 100%;



            p{
                font-family:OpenSansSemiBold;
                font-size:14px;
                color:#FFFFFF;
                span{
                    color:#3F89BB;
                }
            }
            a{
                font-family:OpenSansRegular;
                font-size:13px;
                color:#FFFFFF;


                i{
                    color:#3F89BB;
                    size: 13px;

                }
            }

            a:hover{
                color:#3F89BB;
            }


        }

        #header-elements{
            width: 100%;
            height: 140px;


            a {

                &.logo{

                    display: block;
                    width: 155px;
                    height: 69px;
                    background: url("../img/logo.png")  no-repeat;
                    margin-top: 29px;



                }

                &.request{
                    display: block;
                    background-color: #EAEAEA;

                    height: 122px;
                    padding-top: 18px;
                    text-align: center;



                    .request-round{
                        width:40px;
                        padding-top: 10px;
                        height: 30px;
                        color:#FFFFFF;
                        border-radius:50%;
                        background-color: #007AC2;
                        margin: 0 auto 16px;
                    }
                    span{

                        font-family:OpenSansBold;
                        font-size:14px;
                        color:#000000;
                    }
                    p{
                        font-family:OpenSansRegular;
                        font-size:12px;
                        color:#989797;

                    }




                }

            }





        }


    }

    #site{
        #banner{
            width: 100%;
            height: 481px;
            background-color: greenyellow;
        }
        .site_info{}
        .site_news{}
        #banner_about_company{
            width: 100%;
            height: 405px;
            background-color:red;
        }

    }
    #footer{
        width: 100%; 
        height: 126px;

        p {
            font-family: OpenSansRegular;
            font-size:13px;
            color:#000000;
            display: inline-block;
            margin-top: 37px;

            a{
                
                color:#000000;


                &:hover{


                    color: #007AC2;



                }




            }

            i{

                color:#BFBFBF;
                font-size: 15px;
                margin-bottom: 14px;
            }

        }








    }



}

@import "menu.less";
@import "forms.less";

