/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2015, 9:03:03 AM
    Author     : developer
*/
body {
  color: #000000;
}
body a {
  text-decoration: none;
}
body .al-right {
  text-align: right;
}
body .al-left {
  text-align: left;
}
body .fl-right {
  float: right;
}
body .fl-left {
  float: left;
}
body #header {
  width: 100%;
  height: 186px;
}
body #header #header-info {
  height: 34px;
  background-color: #0B4A81;
  padding-top: 12px;
  width: 100%;
}
body #header #header-info p {
  font-family: OpenSansSemiBold;
  font-size: 14px;
  color: #FFFFFF;
}
body #header #header-info p span {
  color: #3F89BB;
}
body #header #header-info a {
  font-family: OpenSansRegular;
  font-size: 13px;
  color: #FFFFFF;
}
body #header #header-info a i {
  color: #3F89BB;
  size: 13px;
}
body #header #header-info a:hover {
  color: #3F89BB;
}
body #header #header-info .i-site-map {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-site-map.png") no-repeat;
}
body #header #header-info .i-contact {
  display: inline-block;
  width: 16px;
  height: 11px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-contact.png") no-repeat;
}
body #header #header-info .i-job {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-job.png") no-repeat;
}
body #header #header-info .i-search {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-search.png") no-repeat;
}
body #header #header-elements {
  width: 100%;
  height: 140px;
}
body #header #header-elements a.logo {
  display: inline-block;
  width: 155px;
  height: 69px;
  background: url("/assets/img/design/logo.png") no-repeat;
  margin-top: 29px;
}
body #header #header-elements a.request {
  display: block;
  background-color: #EAEAEA;
  height: 122px;
  padding-top: 18px;
  text-align: center;
  width: 235px;
  margin-left: -15px;
}
body #header #header-elements a.request .request-round {
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #007AC2;
  margin: 0 auto 16px;
}
body #header #header-elements a.request span {
  font-family: OpenSansBold;
  font-size: 14px;
  color: #000000;
}
body #header #header-elements a.request p {
  font-family: OpenSansRegular;
  font-size: 12px;
  color: #989797;
}
body #header #header-elements .separator-header {
  display: inline-block;
  height: 61px;
  padding-right: 26px;
  border-right: 1px solid #E2E2E2;
}
body #header #header-elements .i-mail-send {
  display: inline-block;
  width: 16px;
  height: 15px;
  position: relative;
  top: 9px;
  background: url("/assets/img/design/i-mail-send.png") no-repeat;
}
body #site #banner {
  width: 100%;
  height: 481px;
  background-color: #f0f0f0;
}
body #site #site-info {
  width: 100%;
}
body #site #site-info a.stuff {
  display: block;
  float: left;
  width: 233px;
  height: 190px;
  background: url("/assets/img/design/external.png");
  display: inline-block;
  border-right: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
body #site #site-info a.stuff:nth-child(1) {
  border-left: 1px solid #F0F0F0;
}
body #site #site-info a.stuff:nth-child(5) {
  border-left: 1px solid #F0F0F0;
}
body #site #site-info a.stuff p {
  font-family: OpenSansRegular;
  font-size: 13px;
  text-align: center;
  margin-top: 128px;
  color: #000000;
}
body #site #site-info a.stuff:hover {
  background: url("/assets/img/design/internal.png");
}
body #site #site-info a.stuff:hover p {
  color: #ffffff;
}
body #site #site-news {
  width: 100%;
  margin-top: -1px;
  background-color: #EAEAEA;
  padding-top: 51px;
  padding-bottom: 50px;
}
body #site #site-news span {
  color: #000000;
  font-family: OpenSansBold;
  font-size: 15px;
  text-align: center;
}
body #site #site-news .i-calendar {
  display: inline-block;
  width: 15px;
  height: 16px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-calendar.png") no-repeat;
}
body #site #site-news .i-download-file {
  display: inline-block;
  width: 13px;
  height: 16px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-download-file.png") no-repeat;
}
body #site a {
  color: #007AC2;
  font-family: OpenSansRegular;
  font-size: 14px;
}
body #site a i {
  color: #BFBFBF;
  font-size: 16px;
}
body #site a:hover {
  color: #000000;
}
body #site a.new-link {
  display: block;
  width: 224px;
}
body #site a img {
  width: 224px ;
  height: 152px;
  margin-bottom: 25px;
}
body #site p {
  color: #000000;
  font-family: OpenSansRegular;
  margin-bottom: 19px;
}
body #site p.date-news {
  font-size: 13px;
  color: #A4A3A3;
}
body #site p.content-news {
  font-size: 14px;
}
body #site p.technology-text {
  margin-top: 27px;
  font-size: 14px;
  color: #989797;
}
body #site p.news-company {
  margin-top: -5px;
  margin-bottom: 30px;
  color: #000000;
  font-family: OpenSansBold;
  font-size: 15px;
  line-height: 18px;
}
body #site p.technology {
  margin-bottom: 30px;
  color: #000000;
  font-family: OpenSansBold;
  font-size: 15px;
  line-height: 18px;
}
body #site .technology-block-right {
  width: 190px;
  background-color: #FFFFFF;
  padding: 42px 30px 42px 30px;
  float: right;
}
body #site #slider-bottom {
  width: 100%;
  height: 510px;
  background: url("/assets/img/temp/slider_bottom.png") repeat-x;
}
body #site.basis {
  background-color: #F6F6F6;
  width: 100%;
  padding-top: 38px;
}
body #site.basis h1 {
  font-family: OpenSansRegular;
  font-size: 38px;
  font-weight: normal;
}
body #site.basis .breadcrumbs a {
  color: #007AC2;
  font-family: OpenSansRegular;
  font-size: 13px;
}
body #site.basis .breadcrumbs a.active {
  color: #989797;
}
body #site.basis .breadcrumbs span {
  color: #989797;
  padding: 0  7px 0 7px;
}
body #site.basis .prints {
  font-family: OpenSansRegular;
  font-weight: normal;
  float: right;
}
body #site.basis .prints a {
  font-size: 11px;
  color: #989797;
}
body #site.basis .prints .i-prints {
  display: inline-block;
  width: 16px;
  height: 14px;
  position: relative;
  top: 3px;
  background: url("/assets/img/design/i-prints.png") no-repeat;
}
body #site.basis .content {
  margin: 40px 0 50px 0;
}
body #site.basis .content .content-area {
  padding: 40px 0 40px 0;
  background-color: #ffffff;
  width: 706px;
}
body #site.basis .content .content-area.area-full {
  width: 880px;
  padding: 40px 30px;
}
body #site.basis .content .content-area.area-no-padding {
  padding-top: 0;
}
body #site.basis .content .content-area a.area-stuff {
  display: block;
  float: left;
  width: 234px;
  height: 190px;
  background: url("/assets/img/design/external.png");
  display: inline-block;
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
body #site.basis .content .content-area a.area-stuff:nth-child(2) {
  border-top: 1px solid #F0F0F0;
}
body #site.basis .content .content-area a.area-stuff:nth-child(3) {
  border-top: 1px solid #F0F0F0;
}
body #site.basis .content .content-area a.area-stuff:nth-child(4) {
  border-top: 1px solid #F0F0F0;
}
body #site.basis .content .content-area a.area-stuff p {
  font-family: OpenSansRegular;
  font-size: 13px;
  text-align: center;
  margin-top: 128px;
  color: #000000;
}
body #site.basis .content .content-area a.area-stuff:hover {
  background: url("/assets/img/design/internal.png");
}
body #site.basis .content .content-area a.area-stuff:hover p {
  color: #ffffff;
}
body #site.basis .content .content-area a.subcategory-stuff {
  display: block;
  float: left;
  width: 233px;
  height: 240px;
  display: inline-block;
  border-right: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
body #site.basis .content .content-area a.subcategory-stuff:nth-child(1) {
  border-left: 1px solid #F0F0F0;
}
body #site.basis .content .content-area a.subcategory-stuff:nth-child(5) {
  border-left: 1px solid #F0F0F0;
}
body #site.basis .content .content-area a.subcategory-stuff p {
  font-family: OpenSansRegular;
  font-size: 13px;
  text-align: center;
  margin-top: 128px;
  color: #000000;
}
body #site.basis .content .content-area p {
  font-family: OpenSansRegular;
  font-size: 14px;
  margin-right: 37px;
  margin-left: 27px;
  margin-bottom: 48px;
  color: #000000;
}
body #site.basis .content .content-area .tabs-wrapper {
  padding: 60px 30px 40px 30px;
}
body #site.basis .content .content-area .tab-active .contact-block {
  display: inline-block;
  float: left;
}
body #site.basis .content .content-area .tab-active .contact-block.phone {
  width: 234px;
}
body #site.basis .content .content-area .tab-active .contact-block.mail {
  width: 236px;
}
body #site.basis .content .content-area .tab-active .contact-block.time-work {
  width: 334px;
}
body #site.basis .content .content-area .tab-active .contact-block.adress {
  width: 764px;
}
body #site.basis .content .content-area .tab-active .contact-block p {
  margin: 0 0 2px 0;
}
body #site.basis .content .content-area .tab-active p {
  font-family: OpenSansRegular;
  font-size: 12px;
  color: #000000;
}
body #site.basis .content .content-area .tab-active p.info-contact {
  color: #BFBFBF;
}
body #site.basis .content .content-area .tab-active p.nmb-contact {
  font-size: 14px;
}
body #site.basis .content .content-area .tab-active p.nmb-contact span {
  color: #BFBFBF;
}
body #site.basis .content .content-area .tab-active p.work-hours-contact {
  font-size: 14px;
}
body #site.basis .content .content-area .tab-active p.work-hours-contact span {
  color: #A09F9F;
}
body #site.basis .content .content-area .tab-active p i {
  font-size: 17px;
  margin-bottom: 14px;
  position: relative;
  top: 2px;
  margin-right: 9px;
}
body #site.basis .content .content-area .tab-active a {
  font-family: OpenSansRegular;
}
body #site.basis .content .content-area .tab-active a.location-map-contact {
  font-size: 12px;
  float: right;
  margin-top: -21px;
  margin-bottom: 24px;
}
body #site.basis .content .content-area .tab-active img {
  width: 860px;
  height: 377px;
  margin-bottom: 30px;
}
body #site.basis .content .content-blocks {
  width: 235px;
  margin-left: -15px;
  background-color: #EAEAEA;
  height: 100%;
}
body #site.basis .content .content-blocks p.phblocks {
  background-color: #0B4A81;
  font-size: 14px;
  font-family: OpenSansBold;
  color: #ffffff;
  padding: 16px 0;
  margin-bottom: 0;
  text-align: center;
}
body #site.basis .content .content-blocks .dir-block {
  border-bottom: 1px solid #ffffff;
  padding: 30px 0;
  width: 195px;
  margin-left: 20px;
}
body #site.basis .content .content-blocks .dir-block:last-child {
  border-bottom: none;
}
body #site.basis .content .content-blocks .dir-block p {
  font-family: OpenSansRegular;
  font-size: 13px;
}
body #site.basis .content .content-blocks .dir-block p.ph2bloks {
  font-family: OpenSansBold;
  font-size: 15px;
}
body #site.basis .content .content-blocks .dir-block p.date-dir-block {
  color: #989797;
}
body #site.basis .content .content-blocks .dir-block i {
  color: #007AC2;
  font-size: 16px;
}
body #site.basis .content .content-blocks .dir-block i.fa-angle-right {
  position: relative;
  top: 2px;
  margin-left: 5px;
}
body #site.basis .content .content-blocks .dir-block a {
  font-family: OpenSansRegular;
  font-size: 12px;
}
body #site.basis .content .content-blocks .dir-block a.icons-dir-block {
  float: left;
}
body #site.basis .content .content-blocks .dir-block a.icons-dir-block .i-call {
  display: block;
  width: 18px;
  height: 20px;
  position: relative;
  top: 2px;
  margin-right: 8px;
  background: url("/assets/img/design/i-call.png") no-repeat;
}
body #site.basis .content .content-blocks .dir-block a.back-call-dir-block {
  border-bottom: 1px #007AC2 dotted;
  color: #007AC2;
  font-family: OpenSansRegular;
  font-size: 12px;
  display: block;
  float: left;
  line-height: 12px;
  margin-top: 3px;
}
body #site.basis .content .content-blocks .dir-block a.dir-block-produstion img {
  width: 195px ;
  height: 140px;
}
body #footer {
  width: 100%;
  height: 126px;
}
body #footer .footer-info {
  display: inline-block;
  text-align: left;
  margin-top: 37px;
  font-family: OpenSansRegular;
  font-size: 13px;
  color: #000000;
  margin-right: 30px;
}
body #footer .footer-info:last-child {
  margin-right: 0;
}
body #footer .footer-info a {
  color: #000000;
}
body #footer .footer-info a:hover {
  color: #007AC2;
}
body #footer .footer-info i {
  color: #BFBFBF;
  font-size: 15px;
  margin-bottom: 14px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2015, 10:31:02
    Author     : aysulu
*/
#top-menu {
  width: 100%;
}
#top-menu ul {
  margin-top: 37px;
  font-size: 14px;
  font-family: OpenSansBold;
}
#top-menu ul li {
  display: inline-block;
  margin-left: 0;
  width: 150px;
  margin-bottom: 10px;
}
#top-menu ul li a {
  color: #000000;
}
#top-menu ul li a:hover {
  color: #0B4A81;
}
#footer-menu {
  width: 100%;
}
#footer-menu ul {
  margin-top: 37px;
  font-size: 13px;
  font-family: OpenSansRegular;
}
#footer-menu ul li {
  display: inline-block;
  margin-left: 0;
  width: 120px;
  margin-bottom: 10px;
}
#footer-menu ul li a {
  color: #000000;
}
#footer-menu ul li a:hover {
  color: #007AC2;
}
#directories ul li {
  font-family: RobotoBold;
  font-size: 16px;
  border-bottom: 1px solid #BFBFBF;
}
#directories ul li.level_1 a {
  text-transform: uppercase;
}
#directories ul li.level_2 a {
  text-transform: none;
}
#directories ul li.level_3 a {
  text-transform: none;
}
#directories ul li:last-child {
  border-bottom: none;
}
#directories ul li a {
  color: #000000;
  line-height: 50px;
}
#directories ul li a:hover {
  color: #979797;
}
#directories ul li a.active {
  color: #E73F44;
}
#directories ul li ul {
  display: none;
  background-color: #F5F5F5;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  margin-top: -50px;
  padding-top: 50px;
  margin-left: -20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
#directories ul li ul li {
  font-family: RobotoRegular;
  font-size: 15px;
  border-bottom: none;
}
#directories ul li ul li a {
  line-height: 30px;
}
#directories ul li ul li a:hover {
  color: #979797;
}
#directories ul li ul li a.active {
  color: #E73F44;
}
#directories ul li ul li ul {
  border-top: none;
  border-bottom: none;
  margin-top: 0;
  padding-top: 0;
  margin-left: 20px;
  padding-bottom: 0;
}
#directories ul li ul li ul li {
  font-size: 13px;
}
#directories ul li ul li ul li a:hover {
  color: #979797;
}
#directories ul li ul li ul li a.active {
  color: #E73F44;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2015, 10:31:31
    Author     : aysulu
*/
form.search {
  height: 44px;
  border: 1px solid #072E4C;
  /* Параметры рамки */
  background-color: #072E4C;
  margin-top: -12px;
  width: 233px;
  margin-left: -15px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
form.search input[type="text"] {
  border: none;
  /* Убираем рамку */
  outline: none;
  /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none;
  /* Убираем рамку в Chrome и Safari */
  color: #ffffff;
  padding-left: 9px;
  padding-right: 4px;
  background-color: #072E4C;
  margin-top: 14px;
  float: left;
  width: 173px;
}
form.search input::-webkit-input-placeholder {
  color: #3F89BB;
}
form.search input::-moz-placeholder {
  color: #3F89BB;
}
form.search input:-moz-placeholder {
  color: #3F89BB;
}
form.search input:-ms-input-placeholder {
  color: #3F89BB;
}
form.search button {
  background-color: #072E4C;
  color: #FFFFFF;
  display: inline-block;
  border: none;
  cursor: pointer;
  float: left;
  margin-top: 11px;
}
form.search .separator-search {
  display: inline-block;
  height: 28px;
  width: 1px;
  background-color: #0B4A81;
  margin-top: 7px;
  margin-right: 7px;
  margin-left: 5px;
  float: left;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2015, 9:06:55 AM
    Author     : developer
*/
.tabs .istab {
  display: inline-block;
  padding: 0 0 26px 0;
  margin-right: 36px;
  border-bottom: 1px solid transparent;
}
.tabs .istab a {
  color: #000000 !important;
  font-size: 14px !important;
  font-family: OpenSansBold !important;
  border-bottom: 1px dotted #000000;
}
.tabs .istab.link-active {
  border-bottom: 1px solid #3F89BB;
}
.tabs .istab.link-active a {
  color: #747B7B !important;
  border-bottom: none;
}
.tabs .istab.link-hover {
  border-bottom: 1px solid #3F89BB;
}
.tabs .istab.link-hover a {
  color: #747B7B !important;
  border-bottom: none;
}
.tabs a {
  color: #5c5252;
  text-decoration: none;
}
.tabs .tab {
  padding: 34px 0 30px 10px;
  border-top: 1px solid #E2E2E2;
  display: none;
}
.tabs .tab.tab-active {
  display: block;
}
.tabs .tab h3 {
  font-family: RobotoBold;
  font-size: 17px;
  margin-bottom: 18px;
}
.tabs .tab p {
  font-family: RobotoLight;
  font-size: 15px;
  margin-bottom: 14px;
}
.tabs .tab p.ph3 {
  font-family: RobotoBold;
  font-size: 17px;
  margin-bottom: 18px;
}
.tabs .tab ul {
  margin: 0 0 30px 40px;
  font-family: RobotoLight;
  font-size: 15px;
}
.tabs .tab ul li {
  margin-bottom: 12px;
  background: url('/assets/img/design/list-round.png') no-repeat;
  background-position-y: 9px;
  padding-left: 14px;
}
.tabs .tab table {
  font-family: RobotoLight;
  font-size: 15px;
  margin-left: -20px;
}
.tabs .tab table tr:nth-child(odd) {
  background-color: #F5F5F5;
}
.tabs .tab table tr td {
  padding: 14px 20px;
  width: 50%;
}
.tabs .tab table tr td:first-child {
  color: #BCBCBC;
  width: 40%;
}
/*# sourceMappingURL=styles.css.map */