/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2015, 9:03:03 AM
    Author     : developer
*/
body a {
  text-decoration: none;
}
body .al-right {
  text-align: right;
}
body #header {
  width: 100%;
  height: 186px;
}
body #header #header-info {
  height: 34px;
  background-color: #0B4A81;
  padding-top: 12px;
  width: 100%;
}
body #header #header-info p {
  font-family: OpenSansSemiBold;
  font-size: 14px;
  color: #FFFFFF;
}
body #header #header-info p span {
  color: #3F89BB;
}
body #header #header-info a {
  font-family: OpenSansRegular;
  font-size: 13px;
  color: #FFFFFF;
}
body #header #header-info a i {
  color: #3F89BB;
  size: 13px;
}
body #header #header-info a:hover {
  color: #3F89BB;
}
body #header #header-elements {
  width: 100%;
  height: 140px;
}
body #header #header-elements a.logo {
  display: block;
  width: 155px;
  height: 69px;
  background: url("../img/logo.png") no-repeat;
  margin-top: 29px;
}
body #header #header-elements a.request {
  display: block;
  background-color: #EAEAEA;
  height: 122px;
  padding-top: 18px;
  text-align: center;
}
body #header #header-elements a.request .request-round {
  width: 40px;
  padding-top: 10px;
  height: 30px;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #007AC2;
  margin: 0 auto 16px;
}
body #header #header-elements a.request span {
  font-family: OpenSansBold;
  font-size: 14px;
  color: #000000;
}
body #header #header-elements a.request p {
  font-family: OpenSansRegular;
  font-size: 12px;
  color: #989797;
}
body #site #banner {
  width: 100%;
  height: 481px;
  background-color: #f0f0f0;
}
body #site #site_info {
  width: 100%;
  height: 380px;
}
body #site #site_info .stuff {
  width: 233px;
  height: 190px;
  background: url("../img/external.png");
  display: inline-block;
  border-left: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  margin-right: -3px;
}
body #site #site_info .stuff:nth-child(4n+4) {
  border-right: 1px solid #F0F0F0;
}
body #site #site_info .stuff p {
  font-family: OpenSansRegular;
  font-size: 13px;
  text-align: center;
  margin-top: 128px;
  color: #000000;
}
body #site #site_info .stuff:hover {
  background: url("../img/internal.png");
}
body #site #site_info .stuff:hover p {
  color: #ffffff;
}
body #site #site_news {
  width: 100%;
  height: 404px;
  background-color: #EAEAEA;
}
body #site #site_news span {
  color: #000000;
  font-family: OpenSansBold;
  font-size: 15px;
  text-align: center;
}
body #site #site_news span.news-company {
  margin-top: 50px;
}
body #site #site_news span.technology {
  margin-top: 88px;
}
body #site #site_news a {
  color: #007AC2;
  font-family: OpenSansRegular;
  font-size: 14px;
}
body #site #site_news a i {
  color: #BFBFBF;
  font-size: 16px;
}
body #site #site_news a:hover {
  color: #000000;
}
body #site #site_news p {
  color: #000000;
  font-family: OpenSansRegular;
}
body #site #site_news p.date-news {
  font-size: 13px;
  color: #A4A3A3;
}
body #site #site_news p.content-news {
  font-size: 14px;
}
body #site #site_news p.technology-text {
  font-size: 14px;
  color: #989797;
}
body #site #banner_about_company {
  width: 100%;
  height: 405px;
  background-color: red;
}
body #footer {
  width: 100%;
  height: 126px;
  /*        p {
                    font-family: OpenSansRegular;
                    font-size:13px;
                    color:#000000;
                    display: inline-block;
                    margin-top: 37px;
        
                    a{
                        
                        color:#000000;
        
                        &:hover{
        
                            color: #007AC2;
        
                        }
        
                    }
        
                    i{
        
                        color:#BFBFBF;
                        font-size: 15px;
                        margin-bottom: 14px;
                    }
        
                }*/
}
body #footer .footer-info {
  display: inline-block;
  text-align: left;
  margin-top: 37px;
  font-family: OpenSansRegular;
  font-size: 13px;
  color: #000000;
  margin-right: 30px;
}
body #footer .footer-info:last-child {
  margin-right: 0;
}
body #footer .footer-info a {
  color: #000000;
}
body #footer .footer-info a:hover {
  color: #007AC2;
}
body #footer .footer-info i {
  color: #BFBFBF;
  font-size: 15px;
  margin-bottom: 14px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2015, 10:31:02
    Author     : aysulu
*/
#top-menu {
  width: 100%;
}
#top-menu ul {
  margin-top: 37px;
  font-size: 14px;
  font-family: OpenSansBold;
}
#top-menu ul li {
  display: inline-block;
  margin-left: 0;
  width: 150px;
  margin-bottom: 10px;
}
#top-menu ul li a {
  color: #000000;
}
#top-menu ul li a:hover {
  color: #0B4A81;
}
#footer-menu {
  width: 100%;
}
#footer-menu ul {
  margin-top: 37px;
  font-size: 13px;
  font-family: OpenSansRegular;
}
#footer-menu ul li {
  display: inline-block;
  margin-left: 0;
  width: 120px;
  margin-bottom: 10px;
}
#footer-menu ul li a {
  color: #000000;
}
#footer-menu ul li a:hover {
  color: #007AC2;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2015, 10:31:31
    Author     : aysulu
*/
form.search {
  height: 44px;
  border: 1px solid #072E4C;
  /* Параметры рамки */
  background-color: #072E4C;
  margin-top: -12px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
form.search input[type="text"] {
  border: none;
  /* Убираем рамку */
  outline: none;
  /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none;
  /* Убираем рамку в Chrome и Safari */
  color: #ffffff;
  padding-left: 9px;
  padding-right: 4px;
  background-color: #072E4C;
  margin-top: 14px;
}
form.search input::-webkit-input-placeholder {
  color: #ffffff;
}
form.search input::-moz-placeholder {
  color: #ffffff;
}
form.search input:-moz-placeholder {
  color: #ffffff;
}
form.search input:-ms-input-placeholder {
  color: #ffffff;
}
form.search button {
  background-color: #072E4C;
  color: #FFFFFF;
  display: inline-block;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */