/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2015, 9:03:03 AM
    Author     : developer
*/


body{


    color:#000000;
    a{text-decoration:none;}

    .al-right {
        text-align: right;
    }

    .al-left {
        text-align: left;
    }

    .fl-right {
        float: right;
    }

    .fl-left {
        float: left;
    }



    #header{
        width: 100%;
        height: 186px;

        #header-info{

            height: 34px;
            background-color: #0B4A81;
            padding-top:12px;
            width: 100%;



            p{
                font-family:OpenSansSemiBold;
                font-size:14px;
                color:#FFFFFF;
                span{
                    color:#3F89BB;
                }
            }
            a{
                font-family:OpenSansRegular;
                font-size:13px;
                color:#FFFFFF;


                i{
                    color:#3F89BB;
                    size: 13px;

                }
            }

            a:hover{
                color:#3F89BB;
            }


            .i-site-map{
                display: inline-block;
                width: 16px;
                height: 16px;
                position: relative;
                top: 2px;
                background: url("/assets/img/design/i-site-map.png") no-repeat;
            }
            .i-contact{
                display: inline-block;
                width: 16px;
                height: 11px;
                position: relative;
                top: 2px;
                background: url("/assets/img/design/i-contact.png") no-repeat;
            }
            .i-job{
                display: inline-block;
                width: 16px;
                height: 16px;
                position: relative;
                top: 2px;
                background: url("/assets/img/design/i-job.png") no-repeat;
            }
            .i-search{
                display: inline-block;
                width: 16px;
                height: 16px;
                position: relative;
                top: 2px;
                background: url("/assets/img/design/i-search.png") no-repeat;

            }



        }

        #header-elements{
            width: 100%;
            height: 140px;


            a {

                &.logo{

                    display: inline-block;
                    width: 155px;
                    height: 69px;
                    background: url("/assets/img/design/logo.png")  no-repeat;
                    margin-top: 29px;


                }


                &.request{
                    display: block;
                    background-color: #EAEAEA;

                    height: 122px;
                    padding-top: 18px;
                    text-align: center;

                    //добавлено А

                    width: 235px;
                    margin-left: -15px;



                    .request-round{
                        width:40px;

                        height: 40px;
                        color:#FFFFFF;
                        border-radius:50%;
                        background-color: #007AC2;
                        margin: 0 auto 16px;
                    }
                    span{

                        font-family:OpenSansBold;
                        font-size:14px;
                        color:#000000;
                    }
                    p{
                        font-family:OpenSansRegular;
                        font-size:12px;
                        color:#989797;

                    }




                }

            }

            .separator-header{
                display: inline-block;
                height: 61px;        
                padding-right: 26px;
                border-right: 1px solid #E2E2E2;

            }

            .i-mail-send{
                display: inline-block;
                width: 16px;
                height: 15px;
                position: relative;
                top: 9px;
                background: url("/assets/img/design/i-mail-send.png") no-repeat;
            }





        }


    }

    #site{
        #banner{
            width: 100%;
            height: 481px;
            background-color: #f0f0f0;
        }
        #site-info{
            width:100%;


            a {

                &.stuff{
                    display: inline-block;
                    width:233px;
                    height:190px;
                    background: url("/assets/img/design/external.png") ;
                    display: inline-block;
                    border-left:1px solid #F0F0F0;
                    border-bottom:1px solid #F0F0F0;
                    margin-right: -3px;

                    &:nth-child(4n+4) {
                        border-right: 1px solid #F0F0F0;
                    }



                    p{
                        font-family:OpenSansRegular;
                        font-size:13px;
                        text-align: center;
                        margin-top: 128px;
                        color:#000000;
                    }

                    &:hover{

                        background: url("/assets/img/design/internal.png") ;

                        p {
                            color: #ffffff;
                        }


                    }

                }

            }

            //inner













            //inner end

        }




        #site-news{
            width: 100%;
            margin-top: -1px;
            background-color: #EAEAEA;
            padding-top:51px;
            padding-bottom:50px;

            span{
                color:#000000;
                font-family:OpenSansBold;
                font-size:15px;
                text-align:center;



            }
            .i-calendar{
                display: inline-block;
                width: 15px;
                height: 16px;
                position: relative;
                top: 2px;
                background: url("/assets/img/design/i-calendar.png") no-repeat;
            }
            .i-download-file{
                display: inline-block;
                width: 13px;
                height: 16px;
                position: relative;
                top: 2px;
                background: url("/assets/img/design/i-download-file.png") no-repeat;
            }


        }

        a{
            color:#007AC2;
            font-family:OpenSansRegular;
            font-size:14px;




            i{

                color: #BFBFBF;
                font-size:16px;
            }

            &:hover{

                color:#000000;

            }


            &.new-link{
                display: block;
                width:224px;



            }

            img{
                width:224px ;
                height:152px;
                margin-bottom: 25px;

            }

        }

        p{

            color:#000000;
            font-family:OpenSansRegular;
            margin-bottom: 19px;
            //padding-top:20px;

            &.date-news{
                font-size:13px;
                color:#A4A3A3;
            }
            &.content-news{
                font-size:14px;
            }
            &.technology-text{
                margin-top: 27px;
                font-size:14px;
                color:#989797;
            }

            &.news-company{
                margin-top: -5px;
                margin-bottom: 30px;
                color:#000000;
                font-family:OpenSansBold;
                font-size:15px;
                line-height: 18px;
            }


            &.technology{
                //margin-top: 88px;
                margin-bottom: 30px;
                color:#000000;
                font-family:OpenSansBold;
                font-size:15px;
                line-height: 18px;

            }

        }



        .technology-block-right{
            width:190px;

            background-color: #FFFFFF;
            padding:42px 30px 42px 30px;

            float: right;
        }






        #slider-bottom{
            width: 100%;
            height: 510px;
            background: url("/assets/img/temp/slider_bottom.png") repeat-x ;
        }

        //inner
        &.basis{
            background-color: #F6F6F6;
            width: 100%;
            padding-top:38px;

            h1{
                font-family: OpenSansRegular;
                font-size:38px;
                font-weight: normal;

            }

            .breadcrumbs {




                a {
                    color: #007AC2;
                    font-family: OpenSansRegular;
                    font-size: 13px;

                    &.active{
                        color: #989797; 
                    }

                }

                span {
                    color: #989797;
                    padding: 0  7px 0 7px;

                }
            }

            .prints{
                font-family: OpenSansRegular;

                font-weight: normal;
                float:right;

                a{
                    font-size:11px;
                    color: #989797;
                }
                .i-prints{
                    display: inline-block;
                    width: 16px;
                    height: 14px;
                    position: relative;
                    top: 3px;
                    background: url("/assets/img/design/i-prints.png") no-repeat;
                }
            }


            .content {
                
                margin: 40px 0 50px 0;
                


                .content-area {
                    padding: 40px 0 40px 0;
                    background-color: #ffffff;
                    width: 706px;
                
                    
                    //padding: 40px 0;

                    a{
                        &.area-stuff{
                            display: inline-block;
                            width:234px;
                            height:190px;
                            background: url("/assets/img/design/external.png") ;
                            display: inline-block;
                            border-right:1px solid #F0F0F0;
                            border-bottom:1px solid #F0F0F0;
                            //border-top:1px solid #F0F0F0;
                            margin-right: -3px;

                            &:nth-child(3n+3) {
                                //border-right: 1px solid #F0F0F0;
                            }
                            
                            &:nth-child(2) {
                                border-top:1px solid #F0F0F0;
                            }
                            &:nth-child(3) {
                                border-top:1px solid #F0F0F0;
                            }
                            &:nth-child(4) {
                                border-top:1px solid #F0F0F0;
                            }
                            

                            p{
                                font-family:OpenSansRegular;
                                font-size:13px;
                                text-align: center;
                                margin-top: 128px;
                                color:#000000;
                            }

                            &:hover{

                                background: url("/assets/img/design/internal.png") ;

                                p {
                                    color: #ffffff;
                                }


                            }

                        }
                    }
                    p{
                        font-family:OpenSansRegular;
                        font-size:14px;
                        text-align: center;
                        margin-top: 37px;
                        margin-right: 37px;
                        margin-left: 27px;
                        margin-bottom: 48px;
                        color:#000000;
                    }

                }

                .content-blocks {

                    width: 235px;
                    margin-left: -15px;
                    background-color: #EAEAEA;
                    height: 100%;

                    p {

                        &.phblocks {
                            background-color: #0B4A81;
                            font-size: 14px;
                            font-family: OpenSansBold;
                            color: #ffffff;
                            padding: 16px 0;
                            text-align: center;
                        }

                    }

                }

            }


        }
        //inner end

    }
    #footer{
        width: 100%; 
        height: 126px;
        .footer-info{
            display: inline-block;
            text-align: left;
            margin-top: 37px;
            font-family: OpenSansRegular;
            font-size:13px;
            color:#000000;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }

            a{
                color:#000000;

                &:hover{

                    color: #007AC2;

                }

            }

            i{

                color:#BFBFBF;
                font-size: 15px;
                margin-bottom: 14px;
            }

        }



    }



}

@import "menu.less";
@import "forms.less";
@import "tabs.less";

