/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 23, 2015, 9:03:03 AM
    Author     : developer
*/
body {
  color: #000000;
}
body a {
  text-decoration: none;
}
body .al-right {
  text-align: right;
}
body .al-left {
  text-align: left;
}
body .fl-right {
  float: right;
}
body .fl-left {
  float: left;
}
body #header {
  width: 100%;
  height: 186px;
}
body #header #header-info {
  height: 37px;
  background-color: #0B4A81;
  padding-top: 10px;
  width: 100%;
}
body #header #header-info p.phone-logo {
  font-family: OpenSansRegular;
  font-size: 14px;
  color: #FFFFFF;
}
body #header #header-info p.phone-logo span {
  color: #3F89BB;
}
body #header #header-info a {
  font-family: OpenSansRegular;
  font-size: 13px;
  color: #FFFFFF;
}
body #header #header-info a i {
  color: #3F89BB;
  size: 13px;
}
body #header #header-info a:hover {
  color: #3F89BB;
}
body #header #header-info .i-site-map {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-site-map.png") no-repeat;
}
body #header #header-info .i-contact {
  display: inline-block;
  width: 16px;
  height: 11px;
  position: relative;
  top: 1px;
  background: url("/assets/img/design/i-contact.png") no-repeat;
}
body #header #header-info .i-job {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-job.png") no-repeat;
}
body #header #header-info .i-search {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-search.png") no-repeat;
}
body #header #header-elements {
  width: 100%;
  height: 140px;
}
body #header #header-elements a.logo {
  display: inline-block;
  width: 156px;
  height: 70px;
  background: url("/assets/img/design/logo.png") no-repeat;
  margin-top: 29px;
  position: relative;
}
body #header #header-elements a.logo .header-new-year {
  position: absolute;
  width: 137px;
  height: 100px;
  background: url("/assets/img/temp/new-year.png") no-repeat;
  top: -60px;
  left: 100px;
  z-index: 2000;
}
body #header #header-elements a.request {
  display: block;
  background-color: #EAEAEA;
  height: 122px;
  padding-top: 18px;
  text-align: center;
  width: 235px;
  margin-left: -15px;
}
body #header #header-elements a.request .request-round {
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #007AC2;
  margin: 0 auto 16px;
}
body #header #header-elements a.request span {
  font-family: OpenSansBold;
  font-size: 14px;
  color: #000000;
}
body #header #header-elements a.request p {
  font-family: OpenSansRegular;
  font-size: 12px;
  color: #989797;
}
body #header #header-elements .separator-header {
  display: inline-block;
  height: 61px;
  padding-right: 40px;
  border-right: 1px solid #E2E2E2;
}
body #header #header-elements .i-mail-send {
  display: inline-block;
  width: 16px;
  height: 15px;
  position: relative;
  top: 9px;
  background: url("/assets/img/design/i-mail-send.png") no-repeat;
}
body #site #banner {
  width: 100%;
  height: 481px;
  background-color: #f0f0f0;
}
body #site #site-info {
  width: 100%;
}
body #site #site-info a.stuff {
  display: block;
  float: left;
  width: 236px;
  height: 190px;
  background: url("/assets/img/design/ext_1.png");
  display: inline-block;
  margin-top: -2px;
  margin-left: -1px;
}
body #site #site-info a.stuff p {
  font-family: OpenSansRegular;
  font-size: 13px;
  text-align: center;
  margin-top: 128px;
  color: #000000;
}
body #site #site-info a.stuff:hover {
  background: url("/assets/img/design/internal.png");
}
body #site #site-info a.stuff:hover p {
  color: #ffffff;
}
body #site #site-news {
  width: 100%;
  margin-top: -1px;
  background-color: #EAEAEA;
  padding-top: 51px;
  padding-bottom: 50px;
}
body #site #site-news span {
  color: #000000;
  font-family: OpenSansBold;
  font-size: 15px;
  text-align: center;
}
body #site #site-news .i-calendar {
  display: inline-block;
  width: 15px;
  height: 16px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-calendar.png") no-repeat;
}
body #site #site-news .i-download-file {
  display: inline-block;
  width: 13px;
  height: 16px;
  position: relative;
  top: 2px;
  background: url("/assets/img/design/i-download-file.png") no-repeat;
}
body #site a {
  color: #007AC2;
  font-family: OpenSansRegular;
  font-size: 14px;
}
body #site a i {
  color: #BFBFBF;
  font-size: 16px;
}
body #site a:hover {
  color: #000000;
}
body #site a.new-link {
  display: block;
  width: 224px;
}
body #site a.new-link img {
  margin-bottom: 23px;
}
body #site a.new-link.fl-right {
  margin-right: -20px;
}
body #site a img {
  width: 224px ;
  height: 152px;
  margin-bottom: 25px;
}
body #site p {
  color: #000000;
  font-family: OpenSansRegular;
  margin-bottom: 19px;
}
body #site p.date-news {
  font-size: 13px;
  color: #A4A3A3;
  margin-bottom: 8px !important;
}
body #site p.content-news {
  font-size: 14px;
}
body #site p.technology-text {
  margin-top: 27px;
  font-size: 14px;
  color: #989797;
}
body #site p.news-company {
  margin-top: -5px;
  margin-bottom: 30px;
  color: #000000;
  font-family: OpenSansBold;
  font-size: 15px;
  line-height: 18px;
}
body #site p.technology {
  margin-bottom: 30px;
  color: #000000;
  font-family: OpenSansBold;
  font-size: 15px;
  line-height: 18px;
}
body #site .technology-block-right {
  width: 190px;
  background-color: #FFFFFF;
  padding: 42px 24px 42px 24px;
  float: right;
}
body #site #slider-bottom {
  width: 100%;
  height: 510px;
  background: url("/assets/img/temp/slider_bottom.png") repeat-x;
}
body #site.basis {
  background-color: #F6F6F6;
  width: 100%;
  padding-top: 30px;
}
body #site.basis h1 {
  font-family: OpenSansRegular;
  font-size: 38px;
  font-weight: normal;
  line-height: 40px;
}
body #site.basis .breadcrumbs {
  margin-bottom: 6px;
}
body #site.basis .breadcrumbs a {
  color: #000000;
  font-family: OpenSansRegular;
  font-size: 13px;
}
body #site.basis .breadcrumbs a.active {
  color: #989797;
}
body #site.basis .breadcrumbs span {
  color: #989797;
  padding: 0  7px 0 7px;
}
body #site.basis .download-catalog {
  float: right;
  margin-top: -30px;
  margin-right: 80px;
}
body #site.basis .download-catalog a {
  color: #000000;
  font-family: OpenSansRegular;
  font-size: 13px;
}
body #site.basis .download-catalog a i {
  color: #BFBFBF;
  position: relative;
  right: 10px;
  top: 2px;
}
body #site.basis .download-catalog a span {
  color: #989797;
  padding-left: 6px;
}
body #site.basis .prints {
  font-family: OpenSansRegular;
  font-weight: normal;
  float: right;
}
body #site.basis .prints a {
  font-size: 11px;
  color: #989797;
}
body #site.basis .prints a:hover {
  color: #000000;
}
body #site.basis .prints .i-prints {
  display: inline-block;
  width: 16px;
  height: 14px;
  position: relative;
  top: 3px;
  background: url("/assets/img/design/i-prints.png") no-repeat;
}
body #site.basis .content {
  margin: 26px 0 50px 0;
}
body #site.basis .content .content-container {
  background-color: #ffffff;
  width: 940px;
  margin: 0 auto;
}
body #site.basis .content .content-area {
  padding: 30px 0 40px 0;
  background-color: #ffffff;
  width: 706px;
}
body #site.basis .content .content-area.area-contacts {
  width: 880px;
  padding: 40px 30px;
}
body #site.basis .content .content-area.area-full {
  padding: 30px 40px 40px 40px;
}
body #site.basis .content .content-area.area-typical {
  padding: 30px 40px 40px 40px;
  width: 630px;
}
body #site.basis .content .content-area.area-no-padding {
  padding-top: 0;
}
body #site.basis .content .content-area .user-text p {
  padding: 0;
  margin: 0;
  font-family: OpenSansRegular;
  font-size: 14px !important;
  margin-bottom: 30px;
  line-height: 24px;
}
body #site.basis .content .content-area .user-text p.ospecial {
  font-size: 17px !important;
  line-height: 26px;
}
body #site.basis .content .content-area .user-text p.omaking {
  font-size: 12px !important;
  line-height: 18px;
  color: #C5C5C5;
  width: 270px;
  margin-top: -39px;
}
body #site.basis .content .content-area .user-text p.tmaking {
  font-size: 12px !important;
  line-height: 18px;
  color: #C5C5C5;
  width: 544px;
  margin-top: -54px;
}
body #site.basis .content .content-area .user-text p.nspecial {
  border-left: 3px solid #007AC2;
  padding-left: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 60px;
  font-size: 17px  !important;
  line-height: 26px;
  color: #A09F9F;
}
body #site.basis .content .content-area .user-text p img {
  width: 626px !important;
}
body #site.basis .content .content-area .user-text .lot {
  width: 64px ;
  height: 4px ;
  background: #007AC2;
  margin-top: 30px;
  margin-bottom: 56px;
}
body #site.basis .content .content-area .user-text img.oimg {
  width: 270px;
  height: 188px;
  float: left;
  margin-right: 37px;
  margin-top: 28px;
  margin-bottom: 10px;
}
body #site.basis .content .content-area .user-text img.timg {
  width: 544px;
  height: 375px;
  margin-top: 35px;
  margin-bottom: 10px;
}
body #site.basis .content .content-area .user-text ul {
  margin-top: 47px;
}
body #site.basis .content .content-area .user-text ul li {
  background: url("/assets/img/design/list-icon.png") no-repeat;
  background-position-y: 10px;
  font-size: 14px !important;
  font-family: OpenSansRegular;
  padding-left: 14px;
}
body #site.basis .content .content-area .user-text ol {
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 54px;
}
body #site.basis .content .content-area .user-text ol li {
  font-size: 14px !important;
  font-family: OpenSansRegular;
  line-height: 24px;
}
body #site.basis .content .content-area .user-text iframe {
  width: 544px;
  height: 375px;
  margin-top: 45px;
  margin-bottom: 16px;
}
body #site.basis .content .content-area .user-text table {
  width: 544px !important;
  height: 375px !important;
  margin-top: 60px;
  margin-bottom: 47px;
  font-family: OpenSansRegular;
  font-size: 13px;
  margin-bottom: 41px;
}
body #site.basis .content .content-area .user-text table tr {
  border-bottom: 1px solid #E2E2E2;
}
body #site.basis .content .content-area .user-text table tr:last-child {
  border-bottom: none;
}
body #site.basis .content .content-area .user-text table tr:first-child {
  color: #989797;
  width: 40%;
  padding-left: 0;
  border-bottom: 2px solid #BDBDBD;
}
body #site.basis .content .content-area .user-text table tr td {
  padding: 24px 8px;
}
body #site.basis .content .content-area .user-text h2 {
  font-size: 30px;
  font-family: OpenSansRegular;
  margin-bottom: 29px;
  margin-top: 98px;
  font-weight: normal;
}
body #site.basis .content .content-area .user-text h3 {
  font-size: 25px;
  font-family: OpenSansRegular;
  margin-top: 90px;
  margin-bottom: 40px;
  font-weight: normal;
}
body #site.basis .content .content-area a.area-stuff {
  display: block;
  float: left;
  width: 236px;
  height: 190px;
  background: url("/assets/img/design/ext_1.png");
  display: inline-block;
  margin-top: -2px;
  margin-left: -1px;
}
body #site.basis .content .content-area a.area-stuff p {
  font-family: OpenSansRegular;
  font-size: 13px;
  text-align: center;
  margin-top: 128px;
  color: #000000;
}
body #site.basis .content .content-area a.area-stuff:hover {
  background: url("/assets/img/design/internal.png");
}
body #site.basis .content .content-area a.area-stuff:hover p {
  color: #ffffff;
}
body #site.basis .content .content-area a.subcategory-stuff {
  display: block;
  float: left;
  width: 234px;
  height: 240px;
  display: inline-block;
  border-right: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  margin-left: -1px;
  background-position-x: 42px;
  background-position-y: 30px;
  background-repeat: no-repeat;
}
body #site.basis .content .content-area a.subcategory-stuff p {
  font-family: OpenSansRegular;
  font-size: 13px;
  text-align: center;
  margin-top: 168px;
  color: #000000;
}
body #site.basis .content .content-area p {
  font-family: OpenSansRegular;
  font-size: 14px;
  margin-left: 40px;
  margin-right: 39px;
  margin-bottom: 48px;
  color: #000000;
}
body #site.basis .content .content-area .tabs-wrapper {
  padding: 60px 30px 40px 30px;
}
body #site.basis .content .content-area .tab-active .contact-block {
  display: inline-block;
  float: left;
}
body #site.basis .content .content-area .tab-active .contact-block.phone {
  width: 234px;
}
body #site.basis .content .content-area .tab-active .contact-block.mail {
  width: 236px;
}
body #site.basis .content .content-area .tab-active .contact-block.time-work {
  width: 334px;
}
body #site.basis .content .content-area .tab-active .contact-block.adress {
  width: 764px;
}
body #site.basis .content .content-area .tab-active .contact-block p {
  margin: 0 0 4px 0;
}
body #site.basis .content .content-area .tab-active p {
  font-family: OpenSansRegular;
  font-size: 12px;
  color: #000000;
}
body #site.basis .content .content-area .tab-active p.info-contact {
  color: #BFBFBF;
}
body #site.basis .content .content-area .tab-active p.info-contact i {
  margin-bottom: 0;
}
body #site.basis .content .content-area .tab-active p.nmb-contact {
  font-size: 14px;
  margin-left: 22px;
}
body #site.basis .content .content-area .tab-active p.nmb-contact span {
  color: #BFBFBF;
}
body #site.basis .content .content-area .tab-active p.work-hours-contact {
  font-size: 14px;
  margin-bottom: 2px;
  margin-left: 22px;
}
body #site.basis .content .content-area .tab-active p.work-hours-contact span {
  color: #A09F9F;
}
body #site.basis .content .content-area .tab-active p i {
  font-size: 17px;
  margin-bottom: 14px;
  position: relative;
  top: 2px;
  margin-right: 9px;
}
body #site.basis .content .content-area .tab-active a {
  font-family: OpenSansRegular;
}
body #site.basis .content .content-area .tab-active a.location-map-contact {
  font-size: 12px;
  float: right;
  margin-top: -21px;
  margin-bottom: 24px;
}
body #site.basis .content .content-area .tab-active img {
  width: 860px;
  height: 377px;
  margin-bottom: 30px;
}
body #site.basis .content .content-area.area-product {
  padding-top: 0;
}
body #site.basis .content .content-area .banner-product {
  display: block;
  width: 355px;
  height: 356px;
  background-color: #E2E2E2;
  float: left;
}
body #site.basis .content .content-area .drawing-product {
  display: block;
  width: 310px;
  height: 315px;
  border-bottom: 1px solid #E2E2E2;
  float: left;
  padding: 20px;
}
body #site.basis .content .content-area .drawing-product img {
  width: 310px !important;
}
body #site.basis .content .content-area table.intab tr {
  border-bottom: 1px solid #E2E2E2;
}
body #site.basis .content .content-area .colors-block {
  margin-left: 40px;
  width: 627px;
  margin-bottom: 30px;
}
body #site.basis .content .content-area .colors-block .area-color {
  display: block;
  float: left;
  width: 129px;
  height: 129px;
  padding: 40px;
}
body #site.basis .content .content-area .colors-block .area-color div {
  width: 129px;
  height: 95px;
  background-color: #ffffff;
  padding-top: 34px;
}
body #site.basis .content .content-area .colors-block .area-color div p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: OpenSansRegular;
  font-size: 13px;
}
body #site.basis .content .content-area .colors-block .area-color div p.color-name {
  margin-bottom: 4px ;
}
body #site.basis .content .content-area .colors-block .area-color div p.color-ral {
  color: #989797;
}
body #site.basis .content .content-area p.refresh {
  text-align: center;
}
body #site.basis .content .content-area p.refresh a {
  color: #C1C1C1;
}
body #site.basis .content .content-area p.refresh a i {
  font-size: 24px;
}
body #site.basis .content .content-area .objects-block {
  margin-left: 40px;
  width: 627px;
  margin-bottom: 30px;
}
body #site.basis .content .content-area .objects-block a.area-object {
  display: block;
  float: left;
  width: 292px;
  height: 332px;
  margin-right: 43px;
  position: relative;
}
body #site.basis .content .content-area .objects-block a.area-object .object-detalis {
  position: absolute;
  display: none;
  width: 292px;
  height: 198px;
  background: url("/assets/img/design/detalis.png") no-repeat;
}
body #site.basis .content .content-area .objects-block a.area-object .object-detalis p {
  color: #ffffff;
  font-family: OpenSansRegular;
  font-size: 12px;
  margin-top: 100px;
  margin-left: 100px;
}
body #site.basis .content .content-area .objects-block a.area-object:nth-child(2n+2) {
  margin-right: 0;
}
body #site.basis .content .content-area .objects-block a.area-object img {
  width: 292px;
  height: 198px;
  margin-bottom: 18px;
}
body #site.basis .content .content-area .objects-block a.area-object p {
  font-family: OpenSansRegular;
}
body #site.basis .content .content-area .objects-block a.area-object p.object-name {
  font-size: 14px;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}
body #site.basis .content .content-area .objects-block a.area-object p.color-object {
  font-size: 13px;
  color: #989797;
  margin: 0;
}
body #site.basis .content .content-area .news-block {
  margin-left: 40px;
  width: 627px;
  margin-bottom: 30px;
}
body #site.basis .content .content-area .news-block .area-news-one {
  display: block;
  height: 114px;
  background-color: #A7CAE0;
}
body #site.basis .content .content-area .news-block .area-news-two a {
  display: block;
  height: 300px;
  padding-top: 124px;
  margin-bottom: 45px;
}
body #site.basis .content .content-area .news-block .area-news-two a p.dconstruction {
  width: 100px;
  font-family: OpenSansRegular ;
  font-size: 15px;
  background: #007AC2;
  color: #ffffff;
  margin: 0 auto 40px auto;
  text-align: center;
  padding: 3px 0;
}
body #site.basis .content .content-area .news-block .area-news-two a p.tconstruction {
  font-family: OpenSansSemibold ;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
body #site.basis .content .content-area .news-block a.area-new {
  position: relative;
  display: block;
}
body #site.basis .content .content-area .news-block a.area-new.news-block-company {
  margin-bottom: 8px;
  margin-top: 10px;
  margin-bottom: 25px;
}
body #site.basis .content .content-area .news-block a.area-new.news-block-company:hover p.name-news-block {
  color: #007AC2;
}
body #site.basis .content .content-area .news-block a.area-new.news-block-company img {
  width: 224px;
  height: 150px;
  float: left;
  margin-right: 28px;
  margin-top: 4px;
}
body #site.basis .content .content-area .news-block a.area-new.news-block-company .three-block {
  width: 370px;
  float: left;
}
body #site.basis .content .content-area .news-block a.area-new.news-block-company p {
  font-family: OpenSansRegular;
  margin: 0;
}
body #site.basis .content .content-area .news-block a.area-new.news-block-company p.date-news-block {
  margin-bottom: 8px;
  font-size: 13px;
  color: #989797;
}
body #site.basis .content .content-area .news-block a.area-new.news-block-company p.name-news-block {
  font-size: 20px;
  margin-bottom: 8px;
}
body #site.basis .content .content-area .news-block a.area-new.news-block-company p.description-news-block {
  font-size: 14px;
  margin-bottom: 53px;
  line-height: 24px;
}
body #site.basis .content .content-area .news-block a.area-new .hot-news {
  position: absolute;
  width: 32px ;
  height: 150px ;
  background: url("/assets/img/design/hot-news.png") no-repeat;
  top: 4px;
  left: -13px;
}
body #site.basis .content .content-area .oneobjects-block {
  margin-left: 40px;
  width: 627px;
  margin-bottom: 30px;
}
body #site.basis .content .content-area .oneobjects-block .area-oneobject {
  display: block;
  height: 495px;
  background-color: #A7CAE0;
}
body #site.basis .content .content-area .oneobjects-block table.onenoject-intab {
  font-family: OpenSansRegular;
  font-size: 13px;
  width: 100%;
}
body #site.basis .content .content-area .oneobjects-block table.onenoject-intab tr {
  border-bottom: 1px solid #E2E2E2;
}
body #site.basis .content .content-area .oneobjects-block table.onenoject-intab tr:last-child {
  border-bottom: none;
}
body #site.basis .content .content-area .oneobjects-block table.onenoject-intab tr td {
  padding: 14px 1px;
  width: 75%;
}
body #site.basis .content .content-area .oneobjects-block table.onenoject-intab tr td:first-child {
  color: #989797;
  width: 40%;
  padding-left: 0;
}
body #site.basis .content .content-area .price-block {
  margin-bottom: 30px;
}
body #site.basis .content .content-area .price-block .area-price {
  padding: 24px 40px 24px 32px;
  border-bottom: 1px solid #E2E2E2;
}
body #site.basis .content .content-area .price-block .area-price .price-pic {
  float: left;
}
body #site.basis .content .content-area .price-block .area-price .price-pic img {
  width: 60px;
  height: 38px;
}
body #site.basis .content .content-area .price-block .area-price p.price-name {
  float: left;
  width: 422px;
  padding: 0;
  margin: 0;
  padding-left: 34px;
  padding-top: 6px;
}
body #site.basis .content .content-area .price-block .area-price p.price-name a {
  font-family: OpenSansRegular;
  font-size: 13px;
  color: #000000;
}
body #site.basis .content .content-area .price-block .area-price p.price-name a:hover {
  color: #007AC2;
}
body #site.basis .content .content-area .price-block .area-price p.price-icon {
  float: right;
  padding: 0;
  margin: 0;
  padding-top: 6px;
}
body #site.basis .content .content-area .price-block .area-price p.price-icon a i {
  position: relative;
  top: 2px;
}
body #site.basis .content .content-area .price-block .area-price p.price-icon a i:hover {
  color: #007AC2;
}
body #site.basis .content .content-area a.download-bottom {
  padding: 0;
  margin: 0;
  padding-top: 34px;
  padding-left: 34px;
  font-size: 13px;
}
body #site.basis .content .content-area a.download-bottom i {
  margin-right: 12px;
  color: #000000;
}
body #site.basis .content .content-area .pagination {
  border-top: 1px solid #E2E2E2;
  padding-top: 14px;
  text-align: center;
}
body #site.basis .content .content-area .pagination ul {
  margin: 0 auto;
}
body #site.basis .content .content-area .pagination ul li {
  display: inline-block;
  padding-left: 0px;
  margin-left: 15px;
  background: none;
}
body #site.basis .content .content-area .pagination ul li.disabled {
  padding: 10px;
  color: #000000;
}
body #site.basis .content .content-area .pagination ul li.active a {
  color: #ffffff;
  border-radius: 50%;
  background-color: #007AC2;
  font-size: 13px;
  padding: 4px 6px;
}
body #site.basis .content .content-area .pagination ul li.active a:hover {
  color: #ffffff;
}
body #site.basis .content .content-area .pagination ul li a {
  display: inline-block;
  padding: 10px;
  color: #000000;
  font-size: 13px;
  min-width: 16px;
}
body #site.basis .content .content-area .pagination ul li a:hover {
  border-radius: 50%;
  color: #007AC2;
}
body #site.basis .content .content-blocks {
  width: 235px;
  margin-left: -15px;
  background-color: #EAEAEA;
}
body #site.basis .content .content-blocks a.phblocks {
  display: block;
  width: 235px;
  height: 22px;
  text-align: center;
  background-color: #0B4A81;
  font-size: 14px;
  font-family: OpenSansBold;
  color: #ffffff;
  padding: 16px 0;
  margin-bottom: 0;
}
body #site.basis .content .content-blocks a.phblocks.link-fix {
  position: fixed;
  top: 0;
  z-index: 1010;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block {
  border-bottom: 1px solid #ffffff;
  padding: 30px 0;
  width: 195px;
  margin-left: 20px;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block:last-child {
  border-bottom: none;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block p {
  font-family: OpenSansRegular;
  font-size: 13px;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block p.ph2bloks {
  font-family: OpenSansBold;
  font-size: 15px;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block p.ph2bloks .i-catalog {
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  float: left;
  top: 2px;
  margin-right: 8px;
  background: url("/assets/img/design/i-catalog.png") no-repeat;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block p.date-dir-block {
  color: #989797;
  margin-bottom: 10px !important;
  line-height: 15px;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block p.production-object {
  font-size: 14px;
  font-family: OpenSansBold;
  color: #000000;
  padding: 16px 0;
  padding-top: 0;
  margin-bottom: 0;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block p.production-object .i-objects {
  display: block;
  width: 15px;
  height: 16px;
  position: relative;
  float: left;
  top: 2px;
  margin-right: 8px;
  background: url("/assets/img/design/i-objects.png") no-repeat;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block p.directory {
  font-size: 14px;
  font-family: OpenSansBold;
  color: #000000;
  padding: 4px 0;
  padding-top: 0;
  margin-bottom: 0;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block p.directory .i-directory {
  display: block;
  width: 13px;
  height: 16px;
  position: relative;
  float: left;
  top: 2px;
  margin-right: 8px;
  background: url("/assets/img/design/i-directory.png") no-repeat;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block p.directory-price img {
  width: 195px !important;
  height: 140px !important;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block p.color-catalog img {
  width: 195px !important;
  height: 140px !important;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block i {
  color: #007AC2;
  font-size: 16px;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block i.fa-angle-right {
  position: relative;
  top: 2px;
  margin-left: 5px;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block a {
  font-family: OpenSansRegular;
  font-size: 12px;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block a.icons-dir-block {
  float: left;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block a.icons-dir-block .i-call {
  display: block;
  width: 18px;
  height: 20px;
  position: relative;
  top: 2px;
  margin-right: 8px;
  background: url("/assets/img/design/i-call.png") no-repeat;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block a.back-call-dir-block {
  border-bottom: 1px #007AC2 dotted;
  color: #007AC2;
  font-family: OpenSansRegular;
  font-size: 12px;
  display: block;
  float: left;
  line-height: 12px;
  margin-top: 3px;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block a.back-call-dir-block:hover {
  border-bottom: none;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block a.dir-block-produstion img {
  width: 195px ;
  height: 140px;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block a.comments-block {
  display: block;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block a.comments-block p.comment-dir-block {
  font-family: OpenSansItalic;
  font-size: 13px;
}
body #site.basis .content .content-blocks .dir-blocks .dir-block a.comments-block img {
  width: 60px ;
  height: 60px;
  float: left;
  margin-right: 11px;
}
body #footer {
  width: 100%;
  height: 126px;
  margin-top: 0 !important;
}
body #footer .footer-top {
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 30px;
}
body #footer .footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
body #footer .footer-bottom p {
  color: #989797;
  font-size: 13px;
  font-family: OpenSansRegular;
}
body #footer .footer-info {
  display: block;
  float: left;
  text-align: left;
  margin-top: 37px;
  font-family: OpenSansRegular;
  font-size: 13px;
  color: #000000;
  margin-right: 30px;
}
body #footer .footer-info:last-child {
  margin-right: 0;
}
body #footer .footer-info a {
  color: #000000;
}
body #footer .footer-info a:hover {
  color: #007AC2;
}
body #footer .footer-info i {
  color: #BFBFBF;
  font-size: 15px;
  margin-bottom: 14px;
}
body #footer .footer-info i.i-footer-phone {
  display: block;
  width: 15px;
  height: 16px;
  position: relative;
  background: url("/assets/img/design/i-footer-phone.png") no-repeat;
}
body #footer .footer-info i.i-footer-email {
  display: block;
  width: 16px;
  height: 11px;
  position: relative;
  background: url("/assets/img/design/i-footer-email.png") no-repeat;
  margin-bottom: 19px;
}
body #footer .footer-info i.i-footer-address {
  display: block;
  width: 11px;
  height: 16px;
  position: relative;
  background: url("/assets/img/design/i-footer-address.png") no-repeat;
}
body #footer .footer-sep {
  width: 1px;
  height: 40px;
  background-color: #E2E2E2;
  float: left;
  margin-left: -26px;
  margin-top: 42px;
}
body .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  cursor: default;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 99999;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
body .popup-feedback,
body .popup-order,
body .popup-callback {
  display: inline-block;
  left: 50%;
  opacity: 0;
  position: fixed;
  text-align: justify;
  top: 50%;
  visibility: hidden;
  z-index: 999999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s;
  border-radius: 11px;
}
body .popup-feedback .form-close,
body .popup-order .form-close,
body .popup-callback .form-close {
  width: 21px;
  height: 21px;
  position: absolute;
  background: url("/assets/img/design/form-close.png") no-repeat;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24.11.2015, 10:31:02
    Author     : aysulu
*/
#menu-decortop ul li {
  display: block;
  float: left;
  width: 150px;
}
#top-menu {
  width: 100%;
}
#top-menu ul {
  margin-top: 37px;
  font-size: 14px;
  font-family: OpenSansBold;
}
#top-menu ul li {
  display: inline-block;
  margin-left: 0;
  width: 146px;
  margin-bottom: 10px;
}
#top-menu ul li a {
  color: #000000;
}
#top-menu ul li a:hover {
  color: #0B4A81;
}
#footer-menu {
  width: 100%;
  float: left;
}
#footer-menu ul {
  margin-top: 37px;
  font-size: 13px;
  font-family: OpenSansRegular;
}
#footer-menu ul li {
  display: inline-block;
  margin-left: 0;
  width: 120px;
  margin-bottom: 10px;
}
#footer-menu ul li a {
  color: #000000;
}
#footer-menu ul li a:hover {
  color: #007AC2;
}
#directories ul li {
  /*&.level_2 {

                a {
                    text-transform: none;
                }

            }

            &.level_3 {

                a {
                    text-transform: none;
                }

            }*/
  font-family: OpenSansRegular;
  font-size: 14px;
  border-bottom: 1px solid #E2E2E2;
}
#directories ul li.level_1 a {
  text-transform: uppercase;
}
#directories ul li:last-child {
  border-bottom: none;
}
#directories ul li a {
  color: #000000;
  line-height: 60px;
  display: block;
  padding: 0 30px;
  /*&:hover {
                    color: #979797;
                }

                &.active {
                    color: #E73F44;
                }*/
}
#directories ul li a i {
  float: right;
  font-size: 24px;
  position: relative;
  top: 18px;
}
#directories ul li ul {
  display: none;
  border-top: 1px solid #E2E2E2;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}
#directories ul li ul li {
  display: block;
  width: 324px;
  float: left;
  margin-bottom: 30px;
  border-bottom: none;
}
#directories ul li ul li a.txt-directory {
  font-family: OpenSansRegular !important;
  font-size: 12px !important;
  margin-bottom: 5px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-transform: none;
  padding: 0;
  line-height: 14px;
}
#directories ul li ul li a.pic-directory {
  display: block;
  width: 39px;
  padding: 0;
  height: 52px;
  background: url("/assets/img/design/i-file.png") no-repeat;
  float: left;
}
#directories ul li ul li a.pic-directory p {
  margin: 24px 0 0 0 !important;
  line-height: 12px;
  text-transform: none;
}
#directories ul li ul li a.pic-directory p.doc {
  color: #3F89BB !important;
  text-align: center;
  margin-top: 27px !important;
  font-size: 12px !important;
  font-family: OpenSansRegular !important;
}
#directories ul li ul li a.pic-directory p.xls {
  color: #3FBB45 !important;
  text-align: center;
  margin-top: 27px !important;
  font-size: 12px !important;
  font-family: OpenSansRegular !important;
}
#directories ul li ul li a.pic-directory p.pdf {
  color: #DA5353 !important;
  text-align: center;
  margin-top: 27px !important;
  font-size: 12px !important;
  font-family: OpenSansRegular !important;
}
#directories ul li ul li .block-directory {
  font-family: OpenSansRegular;
  font-size: 12px;
  border-bottom: none;
  width: 230px;
  display: block;
  margin-left: 20px !important;
  float: left;
}
#directories ul li ul li .block-directory p.txt-directory {
  font-family: OpenSansRegular !important;
  font-size: 12px !important;
  margin-bottom: 5px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#directories ul li ul li .block-directory p.size-directory {
  font-family: OpenSansRegular !important;
  font-size: 12px !important;
  color: #989797 !important;
  width: 185px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  float: left !important;
}
#directories ul li ul li .block-directory p.icons-directory {
  float: right !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#directories ul li ul li .block-directory p.icons-directory a {
  display: inline;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 18px !important;
}
#directories ul li ul li .block-directory p.icons-directory a i {
  color: #E2E2E2;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px !important;
}
#directories ul li ul li .block-directory p.icons-directory a i:hover {
  color: #007AC2;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2015, 10:31:31
    Author     : aysulu
*/
form.search {
  height: 47px;
  border: 1px solid #072E4C;
  /* Параметры рамки */
  background-color: #072E4C;
  margin-top: -12px;
  width: 233px;
  margin-left: -15px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
form.search input[type="text"] {
  border: none;
  /* Убираем рамку */
  outline: none;
  /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none;
  /* Убираем рамку в Chrome и Safari */
  color: #ffffff;
  padding-left: 9px;
  padding-right: 4px;
  background-color: #072E4C;
  margin-top: 17px;
  float: left;
  width: 173px;
}
form.search input::-webkit-input-placeholder {
  color: #3F89BB;
}
form.search input::-moz-placeholder {
  color: #3F89BB;
}
form.search input:-moz-placeholder {
  color: #3F89BB;
}
form.search input:-ms-input-placeholder {
  color: #3F89BB;
}
form.search button {
  background-color: #072E4C;
  color: #FFFFFF;
  display: inline-block;
  border: none;
  cursor: pointer;
  float: left;
  margin-top: 14px;
}
form.search .separator-search {
  display: inline-block;
  height: 28px;
  width: 1px;
  background-color: #0B4A81;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 5px;
  float: left;
}
form.search-color {
  height: 54px;
  border: 1px solid #E2E2E2;
  /* Параметры рамки */
  background-color: #ffffff;
  width: 626px;
  margin-left: 40px;
  margin-bottom: 30px;
  margin-top: 40px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
form.search-color input[type="text"] {
  border: none;
  /* Убираем рамку */
  outline: none;
  /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none;
  /* Убираем рамку в Chrome и Safari */
  font-family: OpenSansRegular;
  font-size: 15px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  margin-top: 17px;
  float: left;
}
form.search-color input::-webkit-input-placeholder {
  color: #A8A7A7;
}
form.search-color input::-moz-placeholder {
  color: #A8A7A7;
}
form.search-color input:-moz-placeholder {
  color: #A8A7A7;
}
form.search-color input:-ms-input-placeholder {
  color: #A8A7A7;
}
form.search-color button {
  width: 56px;
  height: 56px;
  margin-top: -1px;
  background-color: #007AC2;
  color: #FFFFFF;
  display: inline-block;
  border: none;
  cursor: pointer;
  float: right;
}
form.search-color .i-search {
  display: inline-block;
  width: 20px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-left: 3px;
  background: url("/assets/img/design/i-search.png") no-repeat;
}
.feedback {
  width: 600px;
  font-family: OpenSansRegular;
  font-size: 14px;
  border: none;
}
.feedback .form-area {
  background-color: #EAEAEA;
  padding: 40px 30px 30px 30px;
}
.feedback .form-area h3 {
  font-size: 30px;
  margin-bottom: 40px;
  font-family: OpenSansRegular;
  font-weight: normal;
  margin-top: -10px;
}
.feedback p {
  font-family: OpenSansRegular;
  font-size: 14px;
  margin-top: 6px;
}
.feedback p.perr {
  color: #E70D17;
}
.feedback img {
  height: 60px;
  position: relative;
  top: -10px;
}
.feedback .block {
  margin-bottom: 14px;
}
.feedback .block .param-value {
  width: 340px;
  height: 42px;
  background-color: #ffffff;
  padding: 6px 0 0 18px;
  margin-bottom: 10px;
}
.feedback .block .param-value.tarea {
  height: 140px;
}
.feedback .block .param-value.ierr {
  border: 1px solid #E70D17;
}
.feedback .block .message {
  width: 150px;
  padding-left: 20px;
}
.feedback label {
  color: #B6B6B6;
  display: block;
  float: left;
  margin-top: 7px;
}
.feedback input {
  width: 220px;
  height: 36px;
  padding: 0 15px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #000000;
  line-height: 24px;
  float: right;
}
.feedback input[type="file"] {
  position: relative;
  padding-top: 7px;
  height: 29px;
}
.feedback input[type="file"]:before {
  content: 'ЗАГРУЗИТЬ';
  position: absolute;
  width: 152px;
  height: 30px;
  padding-top: 2px;
  right: 0;
  top: 0;
  background: #858585;
  border: 2px solid #858585;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-family: RobotoBold;
  text-align: center;
  line-height: 30px;
}
.feedback input::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
}
.feedback select {
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 8px;
  padding: 6px 10px;
  color: #666666;
  line-height: 30px;
  margin-bottom: 10px;
  float: left;
}
.feedback textarea {
  width: 332px;
  height: 134px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #000000;
  line-height: 24px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.feedback textarea ::-webkit-input-placeholder {
  color: #B6B6B6;
}
.feedback textarea ::-moz-placeholder {
  color: #B6B6B6;
}
.feedback textarea :-moz-placeholder {
  color: #B6B6B6;
}
.feedback textarea :-ms-input-placeholder {
  color: #B6B6B6;
}
.feedback button {
  width: 358px;
  height: 56px;
  background-color: #0B4A80;
  border: 3px solid #0B4A80;
  color: #ffffff;
  font-family: OpenSansBold;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  cursor: pointer;
}
.feedback button:hover {
  transition: 0.7s ease;
  -webkit-transition: background-color 0.7 ease;
  -moz-transition: background-color 0.7s ease;
  -o-transition: background-color 0.7s ease;
  background-color: transparent;
  color: #0B4A80;
}
.feedback button:not(:hover) {
  transition: 0.7s ease;
  -webkit-transition: 0.7 ease;
  -moz-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  background-color: #0B4A80;
  color: #ffffff;
}
.feedback sup {
  color: #93C6E4;
  font-size: 14px;
  position: relative;
  top: 1px;
  left: 1px;
}
.feedback.order-send .form-area {
  background-color: #F5F5F5;
  padding: 40px 30px 0 30px;
  margin-bottom: 20px;
}
.feedback.order-send button {
  width: 100%;
  height: 56px;
  margin-bottom: 50px;
  background-color: #E6000E;
  border: 3px solid #E6000E;
  color: #ffffff;
  font-family: RobotoBold;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  cursor: pointer;
}
.feedback.order-send button:hover {
  transition: 0.7s ease;
  -webkit-transition: background-color 0.7 ease;
  -moz-transition: background-color 0.7s ease;
  -o-transition: background-color 0.7s ease;
  background-color: transparent;
  color: #E6000E;
}
.feedback.order-send button:not(:hover) {
  transition: 0.7s ease;
  -webkit-transition: 0.7 ease;
  -moz-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  background-color: #E6000E;
  color: #ffffff;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2015, 9:06:55 AM
    Author     : developer
*/
.tabs.about-tabs {
  background-color: #EAEAEA;
}
.tabs.about-tabs .istab {
  display: inline-block;
  padding: 16px 19px;
  margin: 0;
  border-bottom: none;
  border-left: 1px solid #ffffff;
  margin-right: -5px;
}
.tabs.about-tabs .istab:first-child {
  border-left: none;
}
.tabs.about-tabs .istab a {
  color: #629DCD !important;
  font-size: 14px !important;
  font-family: OpenSansRegular !important;
  border-bottom: none;
}
.tabs.about-tabs .istab.link-active {
  background-color: #ffffff;
  border-bottom: none;
}
.tabs.about-tabs .istab.link-active a {
  color: #000000 !important;
  border-bottom: none;
}
.tabs.about-tabs .istab.link-hover {
  border-bottom: none;
}
.tabs.about-tabs .istab.link-hover a {
  border-bottom: none;
  color: #000000 !important;
}
.tabs.about-tabs a {
  color: #5c5252;
  text-decoration: none;
}
.tabs.about-tabs .tab {
  background-color: #ffffff;
  padding: 50px 40px 80px 40px;
  border-top: none;
  margin-top: -2px;
  display: none;
}
.tabs.about-tabs .tab.tab-active {
  display: block;
}
.tabs.about-tabs .tab h3 {
  font-family: RobotoBold;
  font-size: 17px;
  margin-bottom: 18px;
}
.tabs.about-tabs .tab p {
  font-family: RobotoLight;
  font-size: 15px;
  margin-bottom: 14px;
}
.tabs.about-tabs .tab p.ph3 {
  font-family: RobotoBold;
  font-size: 17px;
  margin-bottom: 18px;
}
.tabs.about-tabs .tab ul {
  margin: 0 0 30px 40px;
  font-family: RobotoLight;
  font-size: 15px;
}
.tabs.about-tabs .tab ul li {
  margin-bottom: 12px;
  background: url('/assets/img/design/list-round.png') no-repeat;
  background-position-y: 9px;
  padding-left: 14px;
}
.tabs.about-tabs .tab table.intab {
  font-family: OpenSansRegular;
  font-size: 13px;
  margin-bottom: 30px;
  width: 100%;
}
.tabs.about-tabs .tab table.intab tr {
  border-bottom: 1px solid #E2E2E2;
}
.tabs.about-tabs .tab table.intab tr:last-child {
  border-bottom: none !important;
}
.tabs.about-tabs .tab table.intab tr td {
  padding: 14px 20px;
  width: 47%;
}
.tabs.about-tabs .tab table.intab tr td:first-child {
  color: #989797;
  width: 40%;
  padding-left: 0;
}
.tabs .istab {
  display: inline-block;
  padding: 0 0 26px 0;
  margin-right: 36px;
  border-bottom: 2px solid transparent;
}
.tabs .istab a {
  color: #000000 !important;
  font-size: 14px !important;
  font-family: OpenSansBold !important;
  border-bottom: 1px dotted #000000;
}
.tabs .istab.link-active {
  border-bottom: 2px solid #3F89BB;
}
.tabs .istab.link-active a {
  color: #747B7B !important;
  border-bottom: none;
}
.tabs .istab.link-hover a {
  border-bottom: none;
}
.tabs a {
  color: #5c5252;
  text-decoration: none;
}
.tabs .tab {
  padding: 34px 0 30px 0;
  border-top: 2px solid #E2E2E2;
  margin-top: -2px;
  display: none;
  /*        table {
        
                    font-family: RobotoLight;
                    font-size: 15px;
                    margin-left: -20px;
        
        
                    tr {
        
        
                        &:nth-child(odd) {
                            background-color: #F5F5F5;
                        }
        
                        td {
        
                            padding: 14px 20px;
                            width: 50%;
        
                            &:first-child {
                                color: #BCBCBC;
                                //padding-left: 20px;
                                width: 40%;
                            }
        
        
        
                        }
        
                    }
        
        
                }*/
}
.tabs .tab.tab-active {
  display: block;
}
.tabs .tab h3 {
  font-family: RobotoBold;
  font-size: 17px;
  margin-bottom: 18px;
}
.tabs .tab p {
  font-family: RobotoLight;
  font-size: 15px;
  margin-bottom: 14px;
}
.tabs .tab p.ph3 {
  font-family: RobotoBold;
  font-size: 17px;
  margin-bottom: 18px;
}
.tabs .tab ul {
  margin: 0 0 30px 40px;
  font-family: RobotoLight;
  font-size: 15px;
}
.tabs .tab ul li {
  margin-bottom: 12px;
  background: url('/assets/img/design/list-round.png') no-repeat;
  background-position-y: 9px;
  padding-left: 14px;
}
.tabs .tab table.intab {
  font-family: OpenSansRegular;
  font-size: 13px;
  margin-bottom: 30px;
  width: 100%;
}
.tabs .tab table.intab tr {
  border-bottom: 1px solid #E2E2E2;
}
.tabs .tab table.intab tr:last-child {
  border-bottom: none !important;
}
.tabs .tab table.intab tr td {
  padding: 14px 20px;
  width: 47%;
}
.tabs .tab table.intab tr td:first-child {
  color: #989797;
  width: 40%;
  padding-left: 0;
}
/*# sourceMappingURL=styles.css.map */