/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 29, 2016, 7:52:21 AM
    Author     : developer
*/
.user-text p {
  padding: 0;
  margin: 0;
  font-family: OpenSansRegular;
  font-size: 14px !important;
  margin-bottom: 30px;
  line-height: 24px;
}
.user-text p.ospecial {
  font-size: 17px !important;
  line-height: 26px;
}
.user-text p.omaking {
  font-size: 12px !important;
  line-height: 18px;
  color: #C5C5C5;
  width: 270px;
  margin-top: -39px;
}
.user-text p.tmaking {
  font-size: 12px !important;
  line-height: 18px;
  color: #C5C5C5;
  width: 544px;
  margin-top: -54px;
}
.user-text p.nspecial {
  border-left: 3px solid #007AC2;
  padding-left: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 60px;
  font-size: 17px  !important;
  line-height: 26px;
  color: #CCCCCC;
}
.user-text .lot {
  width: 64px ;
  height: 4px ;
  background: #007AC2;
  margin-top: 30px;
  margin-bottom: 56px;
}
.user-text img.oimg {
  width: 270px;
  float: left;
  margin-right: 37px;
  margin-top: 28px;
  margin-bottom: 10px;
}
.user-text img.timg {
  width: 544px;
  height: 375px;
  margin-top: 35px;
  margin-bottom: 10px;
}
.user-text ul {
  margin-top: 47px;
}
.user-text ul li {
  background: url("/assets/img/design/list-icon.png") no-repeat;
  background-position-y: 10px;
  font-size: 14px !important;
  font-family: OpenSansRegular;
  padding-left: 14px;
}
.user-text ol {
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 54px;
}
.user-text ol li {
  font-size: 14px !important;
  font-family: OpenSansRegular;
  line-height: 24px;
}
.user-text iframe {
  width: 544px;
  height: 375px;
  margin-top: 45px;
  margin-bottom: 16px;
}
.user-text table {
  width: 544px;
  height: 375px;
  margin-top: 60px;
  margin-bottom: 47px;
}
.user-text table.babout {
  font-family: OpenSansRegular;
  font-size: 13px;
  margin-bottom: 41px;
}
.user-text table.babout tr {
  border-bottom: 1px solid #E2E2E2;
}
.user-text table.babout tr:last-child {
  border-bottom: none;
}
.user-text table.babout tr:first-child {
  color: #989797;
  width: 40%;
  padding-left: 0;
  border-bottom: 2px solid #BDBDBD;
}
.user-text table.babout tr td {
  padding: 24px 8px;
}
.user-text table.intab {
  font-family: OpenSansRegular;
  font-size: 13px;
  margin-bottom: 30px;
  width: 100%;
}
.user-text table.intab tr {
  border-bottom: 1px solid #E2E2E2;
}
.user-text table.intab tr:first-child {
  border-bottom: 1px solid #E2E2E2;
}
.user-text table.intab tr:last-child {
  border-bottom: none !important;
}
.user-text table.intab tr td {
  padding: 14px 20px;
  width: 47%;
}
.user-text table.intab tr td:first-child {
  color: #989797;
  width: 40%;
  padding-left: 0;
}
.user-text h2 {
  font-size: 30px;
  font-family: OpenSansRegular;
  margin-bottom: 29px;
  margin-top: 98px;
  font-weight: normal;
}
.user-text h3 {
  font-size: 25px;
  font-family: OpenSansRegular;
  margin-top: 90px;
  margin-bottom: 40px;
  font-weight: normal;
}
/*# sourceMappingURL=usertext.css.map */