/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2015, 9:54:46 AM
    Author     : developer
*/

#slider {
    margin: 0 auto;
    //padding-left: 40px;
    //padding-right: 40px;
}


/* image replacement */
#prevBtn, #nextBtn, #slider1prev, #slider1next{
    margin:0;
    padding:0;
    display:block;
    overflow:hidden;
    text-indent:-8000px;
}
/* // image replacement */

#forslider {
    position: relative;
    width: 100%;
}  

#forslider a.slider-lmore {
    display: block;
    width: 235px;
    height: 22px;
    text-align: center;
    background-color: #0B4A81;
    font-size: 14px;
    font-family: OpenSansBold;
    color: #ffffff;
    padding: 16px 0;
    margin: 0 auto;
}

#forslider a.slider-lmore:hover {
    background-color: #007AC2;
    color: #ffffff;
}

/* Easy Slider */

#slider ul, #slider li,
#slider2 ul, #slider2 li{
    margin:0;
    padding:0;
    list-style:none;
}
#slider2{margin-top:1em;}
#slider li, #slider2 li{ 
    /* 
        define width and height of list item (slide)
        entire slider area will adjust according to the parameters provided here
    */ 
    width:780px;
    height:400px;
    overflow:hidden;

}  

#slider li div, #slider2 li div{
    padding-top: 70px;

}


#slider li p, #slider2 li p{
    text-align: center;
    color: #ffffff !important;
    font-family: OpenSansRegular;
    font-size: 16px;
    width: 670px;
    margin: 0 auto;

}

#slider li p.ph4, #slider2 li p.ph4{
    font-family: OpenSansBold;
    font-size: 20px;
    margin-bottom: 40px;

}     


#prevBtn, #nextBtn,
#slider1next, #slider1prev{ 
    display:block;
    width:42px;
    height:43px;
    position:absolute;
    left:0;
    top:233px;
    z-index:1000;
}    
#nextBtn, #slider1next{ 
    left:898px;
}                                                        
#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a{  
    display:block;
    position:relative;
    width:42px;
    height:42px;
    background:url('/assets/img/design/sl-left.png') no-repeat;    
}    

#prevBtn  a:hover {
    background:url('/assets/img/design/sl-left-active.png') no-repeat;    
}

#nextBtn a, #slider1next a{ 
    background:url('/assets/img/design/sl-right.png') no-repeat;    
} 

#nextBtn a:hover{ 
    background:url('/assets/img/design/sl-right-active.png') no-repeat;    
} 



/* numeric controls */    

ol#controls{
    margin:1em 0;
    padding:0;
    height:28px;    
}
ol#controls li{
    margin:0 10px 0 0; 
    padding:0;
    float:left;
    list-style:none;
    height:28px;
    line-height:28px;
}
ol#controls li a{
    float:left;
    height:28px;
    line-height:28px;
    border:1px solid #ccc;
    background:#DAF3F8;
    color:#555;
    padding:0 10px;
    text-decoration:none;
}
ol#controls li.current a{
    background:#5DC9E1;
    color:#fff;
}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
