[[$meta]]
[[$header]]

<main id="site" class="basis">
    <div class="container_12">

        [[$inner_header]]

        <div class="content">
            <div class="grid_9">
                <div class="content-area area-no-padding" style="background-color: #F6F6F6;">

                    <p>Запрашиваемой страницы не существует. Вы можете вернуться на <a href="/">Главную страницу</a>.</p>

                    <div class="clear"></div>

                </div>
            </div>

        </div>     
        <div class="clear"></div>
    </div>
</main>

[[$footer]]

<div class="overlay" title="окно"></div>

<div class="popup-feedback">
    <div class="form-close"></div>
    [[!AjaxForm?
    &snippet=`FormIt`
    &form=`feedback_form`
    &submitVar=`feedback_sub`
    &hooks=`email`
    &emailSubject=`Сообщение c формы заявки на обслуживание`
    &emailTo=`[[++contact_emails]]`
    &emailReplyTo=`[[+email]]`
    &validate=`name:required:minLength=`2`,phone:required:minLength=`5`,address:required:minLength=`2`,email:email:required`
    &emailTpl=`feedback_email_tpl`
    &successMessage=`Заявка успешно отправлена`
    ]]
</div>


</body>
</html>