[[$meta]]
[[$header]]

<main id="site" class="basis">
    <div class="container_12">

        [[$inner_header]]


        <div class="content">
            <div class="content-container">
                <div class="grid_9 alpha">
                    <div class="content-area">


                        [[*content]]


                        [[!pdoResources?



                        &tplWrapper=`category_list_wrapper`
                        &tpl=`category_list_row`
                        &includeTVs=`subcatalog_img,subcatalog_img_h`
                        &processTVs=`1`
                       &depth=`0`




                        ]]







                    </div>
                </div>
                <div class="grid_3 omega">
                    [[$sidebar]]  
                </div>
                <div class="clear"></div>

            </div>
        </div>




        <div class="clear"></div>
    </div>
</main>

[[$footer]]

<div class="overlay" title="окно"></div>
[[$popup-feedback]]
[[$popup-order]]
[[$popup-callback]]

</body>
</html>