[[$meta]]
[[$header]]

<main id="site" class="basis">
    <div class="container_12">

        [[$inner_header]]

        <div class="content">
            <div class="grid_9">
                <div class="content-area">

                    [[*content]]

                    [[pdoMenu?
                    &parents=`6`
                    &displayStart=`0`
                    &level=`2`
                    &tplOuter=`directory_menu_outer`
                    &tpl=`directory_menu`
                    &showHidden=`1`
                    &tplInner=`directory_menu_inner`
                    &tplInnerRow=`directory_menu_row`
                    &includeTVs=`file_type,file_size`
                    ]]

                    <div class="clear"></div>

                </div>
            </div>

            [[$sidebar]]         
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</main>

[[$footer]]

<div class="overlay" title="окно"></div>
[[$popup-feedback]]
[[$popup-order]]
[[$popup-callback]]

</body>
</html>