[[$meta]]
[[$header]]
        <main id="site" class="basis"> 
            <div class="container_12">

                [[$inner_header]]

                <div class="content">
                    <div class="content-container">
                    <div class="grid_9 alpha">
                        
                        <div class="content-area">
                            <p>
                                За 15 лет успешной деятельности Компания Стального Строительства построила более
                                189 объектов, главным материалом которых является металл. Все объекты строились 
                                на основе полученных с годами навыков, по забытым многими традициям и с должным качеством.
                                Посмотрите наше портфолио и убедитесь сами!
                            </p>


                            <div class="objects-block">

                                <a href="" class="area-object">
                                    <div class="object-detalis">
                                        <p>Детали проекта</p>
                                    </div>
                                    <img src="/assets/img/temp/object-bloks.png" alt="один">

                                    <p class='object-name'>Торговый центр "Юбилейный"</p>
                                    <p class="color-object">Москва, ул Большая Якорная, д.78</p>

                                </a>
                                <a href="" class="area-object">
                                    <div class="object-detalis">
                                        <p>Детали проекта</p>
                                    </div>

                                    <img src="/assets/img/temp/object-bloks.png" alt="один">
                                    <p class='object-name'>Торговый центр "Юбилейный"</p>
                                    <p class="color-object">Москва, ул Большая Якорная, д.78</p>

                                </a>
                                <a href="" class="area-object">
                                    <div class="object-detalis">
                                        <p>Детали проекта</p>
                                    </div>

                                    <img src="/assets/img/temp/object-bloks.png" alt="один">
                                    <p class='object-name'>Магазин оптовой продажи бытовой техники "Юбилейный"</p>
                                    <p class="color-object">Москва, ул Иванова Ивана Ивановича, д.78</p>

                                </a>
                                <a href="" class="area-object">
                                    <div class="object-detalis">
                                        <p>Детали проекта</p>
                                    </div>

                                    <img src="/assets/img/temp/object-bloks.png" alt="один">
                                    <p class='object-name'>Торговый центр "Юбилейный"</p>
                                    <p class="color-object">Москва, ул Большая Якорная, д.78</p>

                                </a>
                                <a href="" class="area-object">
                                    <div class="object-detalis">
                                        <p>Детали проекта</p>
                                    </div>

                                    <img src="/assets/img/temp/object-bloks.png" alt="один">
                                    <p class='object-name'>Торговый центр "Юбилейный"</p>
                                    <p class="color-object">Москва, ул Большая Якорная, д.78</p>

                                </a>


                                <div class="clear"></div>

                                <div class="pagination">
                                    <ul class="t-center">

                                       <li class="disabled"> <i class="fa fa-angle-left"></i></li>
                                     
                                        <li><a href="">1</a></li>
                                        <li><a href="">...</a></li>
                                        <li><a href="">9</a></li>
                                        <li class="active"><a href="">10</a></li>
                                        <li><a href="">11</a></li>
                                        <li><a href="">...</a></li>
                                        <li><a href="">37</a></li>

                                        <li class="control"><i class="fa fa-angle-right"></i></li>

                                    </ul>
                                </div>

                            </div>




                        </div>
                    </div>
                    <div class="grid_3 omega">
                        [[$sidebar]]
                    </div>
                    <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>


            </div>





        </main>
        [[$footer]]



<div class="overlay" title="окно"></div>
[[$popup-feedback]]
[[$popup-order]]
[[$popup-callback]]

</body>
</html>