[[$meta]]
[[$header]]

<main id="site" class="basis">
    <div class="container_12">

        [[$inner_header]]

        <div class="content">
            <div class="grid_9">
                <div class="content-area area-product">

                    <div class="banner-product"></div>

                    <div class="drawing-product"></div>
                    <div class="clear"></div>


                    <div class="tabs-wrapper">
                        <div class="tabs">
                            <div class="istab link-active">
                                <a  id="t1"  href="">Описание</a>
                            </div>
                            <div  class="istab">
                                <a id="t2" href="">Технические характеристики</a>
                            </div>
                            <div  class="istab">
                                <a id="t3" href="">Особенности монтажа</a>
                            </div>


                            <div id="d-t1" class="tab tab-active">
                                <p>[[*product_description]]</p>
                            </div>
                            <div id="d-t2" class="tab">
                                <table class="intab">
                                    [[getImageList?
                                    &tvname=`product_technical_information`
                                    &tpl=`product_technical_information_tpl`
                                    ]]
                                </table>
                            </div>
                            <div id="d-t3" class="tab">
                                <p>
                                    [[*product_feature_installation]]                                      
                                </p>
                            </div>


                        </div>

                    </div>

                </div>
            </div>

            [[$sidebar_product]]         
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</main>

[[$footer]]

<div class="overlay" title="окно"></div>
[[$popup-feedback]]
[[$popup-order]]
[[$popup-callback]]

</body>
</html>
