[[$meta]]
[[$header]]

<main id="site" class="basis">
    <div class="container_12">

        [[$inner_header]]

        <div class="content">
            <div class="grid_9">
                <div class="content-area area-no-padding">

                    [[pdoMenu?
                    &displayStart=`0`
                    &level=`1`
                    &tpl=`sub_subcatalog_menu`
                    &tplOuter=`sub_subcatalog_menu_outer`
                    &isfolder=`1`
                    &includeTVs=`subcatalog_img`
                    ]]

                </div>
            </div>

            [[$sidebar]]      
        </div>     
        <div class="clear"></div>
    </div>
</main>

[[$footer]]

<div class="overlay" title="окно"></div>
[[$popup-feedback]]
[[$popup-order]]
[[$popup-callback]]

</body>
</html>