[[$meta]]
[[$header]]
<main id="site" class="basis"> 
    <div class="container_12">

        [[$inner_header]]

        <div class="content">
            <div class="content-container">

                <div class="grid_9 alpha">
                    <div class="content-area area-no-padding">

                        [[!pdoResources?



                        &tplWrapper=`subcategory_list_wrapper`
                        &tpl=`subcategory_list_row`
                        &includeTVs=`subcatalog_img`
                        &processTVs=`1`
                        &depth=`0`




                        ]]




                        <div class="tabs-wrapper">
                            <div class="tabs">
                                <div class="istab link-active">
                                    <a  id="t1"  href="">Описание</a>
                                </div>
                                <div  class="istab">
                                    <a id="t2" href="">Преимущества</a>
                                </div>
                                <div  class="istab">
                                    <a id="t3" href="">Технологии</a>
                                </div>


                                <div id="d-t1" class="tab tab-active">
                                    <div class='user-text'>
                                        [[*subcatalog_description]]
                                    </div>
                                </div>
                                <div id="d-t2" class="tab">
                                    <div class='user-text'>
                                        [[*subcatalog_advantage]]
                                    </div>
                                </div>
                                <div id="d-t3" class="tab">
                                    <div class='user-text'>
                                        [[*subcatalog_technology]]
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
                <div class="grid_3 omega">
                    [[$sidebar]]
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>


    </div>





</main>
[[$footer]]



<div class="overlay" title="окно"></div>
[[$popup-feedback]]
[[$popup-order]]
[[$popup-callback]]

</body>
</html>






