[[$meta]]
[[$header]]

<main id="site">

    [[$slider_top]]

    [[pdoMenu?
    &parents=`14`
    &displayStart=`0`
    &level=`1`
    &tpl=`catalog_menu_main`
    &tplOuter=`catalog_menu_main_outer`
    &isfolder=`1`
    &includeTVs=`subcatalog_img,subcatalog_img_h`
    ]]

    <div id="site-news">
        <div class="container_12 ">
            [[!pdoPage?
            &parents=`3`
            &tplWrapper=`news_title_wrapper`
            &tplFirst=`news_ftitle_row`
            &tplLast=`news_ltitle_row`
            &limit=`2`
            &includeTVs=`photo_news`
            ]]
            <div class="grid_4">
                <div class="technology-block-right">
                    <p class="technology">ОБЪЕКТЫ</p>

                    <a href="[[~7]]"><i class="fa fa-building-o"></i>&nbsp;&nbsp; Смотреть объекты</a>
                    <p class="technology-text">За почти уже год своей работы ГК «Компания Стального Строительства» построила более 10 объектов,
                        главным материалом для строительства которых являются металлические конструкции из ЛСТК и сортового проката</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    [[$slider_bottom]]

</main>

[[$footer]]

<div class="overlay" title="окно"></div>
[[$popup-feedback]]

</body>
</html>